<ul id="nav-mobile" class="side-nav">
    <div class="" *ngFor="let item of menu | orderBy : { property: 'idOpcion', direction: 1 }">
        <li><a class="subheader">{{ item.nombreOpcion }}</a></li>
        <li *ngFor="let opcion of item.opciones | orderBy : { property: 'idOpcion', direction: 1 }">
            <a class="waves-effect" (click)="goToRoute( opcion.ruta, opcion.tags )">{{ opcion.nombreOpcion }}</a>
        </li>
        <li>
            <div class="divider"></div>
        </li>
    </div>

    <li>
        <a class="waves-effect" (click)="logOut()">Salir</a>
    </li>
</ul>