<div class="row mb-sm">
    <form action="" class="form-inline mb-lg">
        <div class="col-md-4 pull-right text-right">
            <input placeholder="Búsqueda" class="form-control" [(ngModel)]="filterText" (change)="filter()" [ngModelOptions]="{standalone: true}" />
        </div>
    </form>
</div>



<div class="row">
    <div class="col-sm-12">
        <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr class="row">
                        <!--th class="col-md-1 lead text-sm">UEJ</th>
                    <th class="col-md-2 lead text-sm">RUBRO</th-->
                        <th class="col-md-3 lead text-sm" colspan="2">FUENTE</th>
                        <th class="col-md-9 lead text-sm">DESCRIPCION</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="height-lg" colspan="4" [hidden]="!noData">
                            <p class="text-center lead mt-xl mb-xl text-primary">No se encuentran Proyectos</p>
                        </td>
                        <td class="height-lg" colspan="4" [hidden]="!loading">
                            <p class="text-center lead mt-xl mb-xl text-primary">Obteniendo Datos, espere un momento...</p>
                        </td>
                        <td class="height-lg" colspan="4" [hidden]="!error">
                            <p class="text-center lead mt-xl mb-xl text-danger">Ocurrió un error al intentar obtener los datos.</p>
                            <p class="text-center">
                                <button class="btn btn-primary" (click)="listaProyectos()">Reintentar</button>
                            </p>
                        </td>

                    </tr>
                    <tr class="row" *ngFor="let proyecto of data">
                        <!--td class="col-md-1">
                        <a (click)="onSelectProyecto(proyecto)">
                            {{ proyecto.uej }}
                        </a>
                    </td>
                    <td class="col-md-2">{{ proyecto.rubro }}</td-->
                        <td class="col-md-1 pt-lg text-center">
                            <a class="text-md text-primary fa fa-pencil-square-o" (click)="onSelectProyecto(proyecto)"></a>
                        </td>
                        <td class="col-md-2">{{ proyecto.fuente }}</td>
                        <td class="col-md-9">{{ proyecto.descripcion }}
                            <span class="text-primary text-xs clearfix">
                            {{ proyecto.abreviacion }}
                        </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div [hidden]="paginations.totalItems < 2" class="col-lg-12">
        <pagination [totalItems]="paginations.totalItems" class="pull-right m-sm" [(ngModel)]="paginations.currentPage" (pageChanged)="changePage()" [maxSize]="paginations.maxSize" firstText="‹‹" previousText="‹" nextText="›" lastText="››" [boundaryLinks]="true"></pagination>
    </div>
</div>