<div class="row" *ngIf="visible">
    <div class="col-sm-12">
        <h5 class="lead text-md text-bold">CREG</h5>
    </div>
    <app-se-creg-compromisos class="col-sm-12 col-lg-6"></app-se-creg-compromisos>
    <app-se-creg-obligaciones class="col-sm-12 col-lg-6"></app-se-creg-obligaciones>
</div>