<div class="panel">
    <div class="panel-body">
        <div class="row pt-sm">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th class="lead text-sm">Actividad</th>
                                <th class="lead text-sm">TOTAL</th>
                                <th class="lead text-sm">Enero</th>
                                <th class="lead text-sm">Febrero</th>
                                <th class="lead text-sm">Marzo</th>
                                <th class="lead text-sm">Abril</th>
                                <th class="lead text-sm">Mayo</th>
                                <th class="lead text-sm">Junio</th>
                                <th class="lead text-sm">Julio</th>
                                <th class="lead text-sm">Agosto</th>
                                <th class="lead text-sm">Septiembre</th>
                                <th class="lead text-sm">Octubre</th>
                                <th class="lead text-sm">Noviembre</th>
                                <th class="lead text-sm">Diciembre</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let actividad of actividades_obligaciones">
                                <td>
                                    <a (click)="editActividad(actividad)">  {{ actividad.nombreActividad }}  </a>
                                </td>
                                <td class="text-primary text-right">{{ actividad.total | number : '1.0-0' }}</td>
                                <td class="text-right" *ngFor="let obligacion of actividad.obligaciones">{{ obligacion.valor | number : '1.0-0' }}</td>
                            </tr>

                            <tr>
                                <td colspan="2" class="text-primary">TOTAL</td>
                                <td class="text-primary" *ngFor="let valor_mes of total_mes">{{ valor_mes | number : '1.0-0' }}</td>
                            </tr>


                        </tbody>
                    </table>

                    <div class="form-group clearfix text-md">
                        <label class="col-md-3 lead">Total Obligaciones</label>
                        <label class="col-md-2 lead">{{ total_obligaciones | number : '1.0-0' }}</label>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<app-obligaciones-edit (closed)="changeObligaciones($event);"></app-obligaciones-edit>