<style>
    .home-menu {
        float: left;
        padding: 10px;
        color: white;
        font-size: 1.3em;
    }
</style>

<header class="topnavbar-wrapper">
    <!-- START Top Navbar-->
    <nav role="navigation" class="navbar topnavbar">
        <a appBtnMenu data-activates="nav-mobile" class="home-menu">
            <em class="fa fa-navicon"></em>
        </a>
        <div class="text-center pv-sm">
            <img src="assets/img/logo.png" alt="App Logo" />
            <img _ngcontent-c5="" alt="Logo Minenergía" src="assets/img/logo-responsive.png" class="height-xxxs" style="
    float: right;
    margin-right: 25px;
">
        </div>

       
    </nav>
    <!-- END Top Navbar-->
</header>