<div class="row" *ngIf="visible">
    <div class="col-sm-12">
        <h5 class="lead text-md text-bold">UPME</h5>
    </div>
    <app-se-upme-compromisos class="col-sm-12 col-lg-6"></app-se-upme-compromisos>
    <app-se-upme-obligaciones class="col-sm-12 col-lg-6"></app-se-upme-obligaciones>
</div>