<div class="row">
    <div class="col-xs-12 mb-lg">
        <button class="btn btn-primary btn-sm" (click)="actualizarProyecto()">Actualizar</button>
    </div>
</div>
<div class="row">
    <p class="lead col-sm-12 col-md-7 mb-sm">{{ proyecto.descripcion }}</p>
    <div class="lead col-xs-12 mb-sm">
        <span class="text-primary text-xs clearfix">{{ proyecto.nombreuej }}</span>
    </div>
    <div class="col-sm-12">
        <input class="form-control" type="text" [(ngModel)]="proyecto.alias" placeholder="Alias Del Proyecto">
    </div>
    <div class="col-sm-12">
        <rl-tag-input [(ngModel)]="tag.items" placeholder="Agregar Etiquetas" [autocomplete]="true" [autocompleteMustMatch]="false" [addOnEnter]="true" [autocompleteItems]="tag.dataAutocomplete">
        </rl-tag-input>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs mt-lg">
            <li role="presentation" [ngClass]="{'active': currentTab == 'detalle'}" (click)="currentTab = 'detalle'"><a>DETALLE</a></li>
            <li role="presentation" [ngClass]="{'active': currentTab == 'compromisos'}" (click)="currentTab = 'compromisos'"><a>COMPROMISOS</a></li>
            <li role="presentation" [ngClass]="{'active': currentTab == 'obligaciones'}" (click)="currentTab = 'obligaciones'"><a>OBLIGACIONES</a></li>
        </ul>

    </div>

    <app-pd-tab-detail [hidden]="currentTab != 'detalle'" class="col-sm-12"></app-pd-tab-detail>
    <app-pd-tab-compromisos [hidden]="currentTab != 'compromisos'" class="col-sm-12"></app-pd-tab-compromisos>
    <app-pd-tab-obligaciones [hidden]="currentTab != 'obligaciones'" class="col-sm-12"></app-pd-tab-obligaciones>
</div>