<modal #modal (onDismiss)="close($event);">
  <modal-header [show-close]="true">
    <h4 class="modal-title">Editar Compromiso</h4>
  </modal-header>
  <modal-body>
    <form action="">
      <div class="row mb-sm">
        <label class="col-sm-2">Actividad</label>
        <div class="col-sm-10">
          <textarea name="nombreActividad" id="" class="form-control" [(ngModel)]="currentActividad.nombreActividad"></textarea>
        </div>
      </div>
      <div class="row">
      <div class="col-sm-6">
        <div class="row mb-sm">
          <label class="col-sm-4">Enero</label>
          <div class="col-sm-8">
            <input class="form-control" type="text" [(ngModel)]="currentActividad.compromisos[0].valor" name="compromiso_enero">
          </div>
        </div>
        <div class="row mb-sm">
          <label class="col-sm-4">Febrero</label>
          <div class="col-sm-8">
            <input class="form-control" type="text" [(ngModel)]="currentActividad.compromisos[1].valor" name="compromiso_febrero">
          </div>
        </div>

        <div class="row mb-sm">
          <label class="col-sm-4">Marzo</label>
          <div class="col-sm-8">
            <input class="form-control" type="text" [(ngModel)]="currentActividad.compromisos[2].valor" name="compromiso_marzo">
          </div>
        </div>

        <div class="row mb-sm">
          <label class="col-sm-4">Abril</label>
          <div class="col-sm-8">
            <input class="form-control" type="text" [(ngModel)]="currentActividad.compromisos[3].valor" name="compromiso_abril">
          </div>
        </div>

        <div class="row mb-sm">
          <label class="col-sm-4">Mayo</label>
          <div class="col-sm-8">
            <input class="form-control" type="text" [(ngModel)]="currentActividad.compromisos[4].valor" name="compromiso_mayo">
          </div>
        </div>

        <div class="row mb-sm">
          <label class="col-sm-4">Junio</label>
          <div class="col-sm-8">
            <input class="form-control" type="text" [(ngModel)]="currentActividad.compromisos[5].valor" name="compromiso_junio">
          </div>
        </div>
      </div>

      <div class="col-sm-6">

        <div class="row mb-sm">
          <label class="col-sm-4">Julio</label>
          <div class="col-sm-8">
            <input class="form-control" type="text" [(ngModel)]="currentActividad.compromisos[6].valor" name="compromiso_julio">
          </div>
        </div>

        <div class="row mb-sm">
          <label class="col-sm-4">Agosto</label>
          <div class="col-sm-8">
            <input class="form-control" type="text" [(ngModel)]="currentActividad.compromisos[7].valor" name="compromiso_agosto">
          </div>
        </div>
        <div class="row mb-sm">
          <label class="col-sm-4">Septiembre</label>
          <div class="col-sm-8">
            <input class="form-control" type="text" [(ngModel)]="currentActividad.compromisos[8].valor" name="compromiso_septiembre">
          </div>
        </div>
        <div class="row mb-sm">
          <label class="col-sm-4">Octubre</label>
          <div class="col-sm-8">
            <input class="form-control" type="text" [(ngModel)]="currentActividad.compromisos[9].valor" name="compromiso_octubre">
          </div>
        </div>
        <div class="row mb-sm">
          <label class="col-sm-4">Noviembre</label>
          <div class="col-sm-8">
            <input class="form-control" type="text" [(ngModel)]="currentActividad.compromisos[10].valor" name="compromiso_noviembre">
          </div>
        </div>
        <div class="row mb-sm">
          <label class="col-sm-4">Diciembre</label>
          <div class="col-sm-8">
            <input class="form-control" type="text" [(ngModel)]="currentActividad.compromisos[11].valor" name="compromiso_diciembre">
          </div>
        </div>
      </div>              
      </div>
    </form>
  </modal-body>
</modal>
<app-obligaciones-edit (closed)="changeObligacion($event);"></app-obligaciones-edit>