<h3>SEGUIMIENTO ENTIDADES
    <small>Resumen de la ejecución de las entidades, seleccione el en la esquina inferior para ver la gráfica o filtre el mes y tipo de presupuesto. Agregue Etiquetas de su preferencia.</small>
</h3>
<div class="row">
    <form action="" class="form-inline">

        <div class="form-group mh-lg">
            <label class="mr-lg">Año</label>
            <select class="form-control" [(ngModel)]="anio" [ngModelOptions]="{standalone: true}">
                <option value="2019">2019</option>
                <option value="2018">2018</option>
                <option value="2017">2017</option>
            
           </select>
        </div>

        <div class="form-group mh-lg">
            <label>Mes</label>
            <select class="form-control" [(ngModel)]="mes" (change)="obtenerDatos()" [ngModelOptions]="{standalone: true}" [disabled]="loading">
                <option value="1">Enero</option>
                <option value="2">Febrero</option>
                <option value="3">Marzo</option>
                <option value="4">Abril</option>
                <option value="5">Mayo</option>
                <option value="6">Junio</option>
                <option value="7">Julio</option>
                <option value="8">Agosto</option>
                <option value="9">Septiembre</option>
                <option value="10">Octubre</option>
                <option value="11">Noviembre</option>
                <option value="12">Diciembre</option>
            </select>
        </div>

        <div class="form-group mh-lg">
            <label>Tipo Presupuesto</label>
            <select class="form-control" [(ngModel)]="tipoPresupuesto" (change)="obtenerDatos()" [ngModelOptions]="{standalone: true}" [disabled]="loading">
            <option value="TODOS">TODOS</option>
            <option value="INVERSION">INVERSIÓN</option>
            <option value="FUNCIONAMIENTO">FUNCIONAMIENTO</option>
           </select>
        </div>
        <button class="btn btn-sm btn-primary mh-lg" (click)="obtenerDatos()" [disabled]="loading">Consultar</button>
    </form>
</div>
<div class="row pt-lg">
    <div class="col-sm-8" [hidden]="tag.dataAutocomplete.length == 0">
        <!--rl-tag-input [(ngModel)]="tag.items" placeholder="Agregar Etiquetas" [autocomplete]="true" [autocompleteItems]="tag.dataAutocomplete" [disabled]="loading">
        </rl-tag-input-->

        <!--ng-selectize [(ngModel)]="tag.items" placeholder="Hello" [config]="tag.config" [options] = "tag.dataAutocomplete"></ng-selectize-->
        <ng-selectize [options]="tag.dataAutocomplete" [(ngModel)]="tag.items" [config]="currentOptionsConfig"></ng-selectize>

    </div>
    <div class="col-sm-8" [hidden]="tag.dataAutocomplete.length > 0">
        <div class="lead text-info mv-sm ph-lg">No se encuentran etiquetas para realizar el filtro.</div>
    </div>
</div>
<div class="row">
    <div class="col-md-6" *ngFor="let entidad of data | orderBy : { property: 'orden', direction: 1 }" [hidden]="entidad.apropiacion_disponible == null">
        <div class="card">
            <div class="card-content pb0">
                <div class="col-xs-6">
                    <span class="card-title activator text-accend">{{entidad.abreviacion}}</span>
                </div>
                <div class="col-xs-6 text-right pv-sm">
                    <span class="lead text-bold">
                        <span class="text-xs">$</span> {{ entidad.apropiacion_disponible | roundNumber : 'millons' | number : '1.0-0' | formatNumber }}</span>
                    <span class="text-xs bg-gray ph-sm">M</span>
                </div>
                <div class="clearfix"></div>
                <div class="panel-body">
                    <div class="mhd-xl">

                        <div class="row">
                            <div class="col-xs-6">
                                <div class="lead text-left mb-sm">Obligado</div>
                            </div>
                            <div class="col-xs-6">
                                <span class="lead">
                                <span class="text-xs">$</span> {{ entidad.obligado | roundNumber : 'millons' | number : '1.0-0' | formatNumber }}</span>
                                <span class="text-xs bg-gray ph-sm">M</span>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-xs-6">
                                <div class="lead text-left mb-sm text-sm">Por Obligar De Compromisos</div>
                            </div>
                            <div class="col-xs-6">
                                <span class="lead">
                                <span class="text-xs">$</span> {{ entidad.por_obligar_de_los_compromiso | roundNumber : 'millons' | number : '1.0-0' | formatNumber }}</span>
                                <span class="text-xs bg-gray ph-sm">M</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6">
                                <div class="lead text-left mb-sm text-sm">Meta Obligación</div>
                            </div>
                            <div class="col-xs-6">
                                <span class="lead">
                                    <span class="text-xs">$</span> {{ entidad.obligacion | roundNumber : 'millons' | number : '1.0-0' | formatNumber }}</span>
                                <span class="text-xs bg-gray ph-sm">M</span>
                            </div>
                        </div>



                        <div class="row">
                            <div class="col-xs-6">
                                <div class="lead text-left mb-sm text-sm">% Oblig. / Aprop.</div>
                            </div>
                            <div class="col-xs-6">
                                <span class="lead"> {{ entidad.obligado_apropiacion | number : '1.2-2' | formatNumber }} %</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6">
                                <div class="lead text-left mb-sm text-sm">% Meta Oblig.</div>
                            </div>
                            <div class="col-xs-6">
                                <span class="lead text-bold" [ngClass]="{'text-success': entidad.obligacion_apropiacion <= entidad.obligado_apropiacion, 'text-danger' : entidad.obligacion_apropiacion > entidad.obligado_apropiacion }">{{ entidad.obligacion_apropiacion | number : '1.2-2' | formatNumber }} %</span>
                            </div>
                        </div>

                        <div class="row mt-lg">
                            <div class="col-xs-6">
                                <div class="lead text-left mb-sm">Comprometido</div>
                            </div>
                            <div class="col-xs-6">
                                <span class="lead">
                                <span class="text-xs">$</span> {{ entidad.comprometido | roundNumber : 'millons' | number : '1.0-0' | formatNumber}}</span>
                                <span class="text-xs bg-gray ph-sm">M</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6">
                                <div class="lead text-left mb-sm text-sm">Por Comprometer</div>
                            </div>
                            <div class="col-xs-6">
                                <span class="lead">
                                <span class="text-xs">$</span> {{ entidad.por_comprometer | roundNumber : 'millons' | number : '1.0-0' | formatNumber}}</span>
                                <span class="text-xs bg-gray ph-sm">M</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6">
                                <div class="lead text-left mb-sm text-sm">Meta Compromiso</div>
                            </div>
                            <div class="col-xs-6">
                                <span class="lead">
                                    <span class="text-xs">$</span> {{ entidad.compromiso | roundNumber : 'millons' | number : '1.0-0' | formatNumber }}</span>
                                <span class="text-xs bg-gray ph-sm">M</span>
                            </div>
                        </div>




                        <div class="row">
                            <div class="col-xs-6">
                                <div class="lead text-left mb-sm text-sm">% Compr. / Aprop.</div>
                            </div>
                            <div class="col-xs-6">
                                <span class="lead"> {{ entidad.comprometido_apropiacion | number : '1.2-2' | formatNumber }} %</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6">
                                <div class="lead text-left mb-sm text-sm">% Meta Compromiso</div>
                            </div>
                            <div class="col-xs-6">
                                <span class="lead text-bold" [ngClass]="{'text-success': entidad.compromiso_apropiacion <= entidad.comprometido_apropiacion, 'text-danger' : entidad.compromiso_apropiacion > entidad.comprometido_apropiacion }"> {{entidad.compromiso_apropiacion | number : '1.2-2' | formatNumber  }} % </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-action text-right">
                    <span class="text-primary p-lg" (click)="goToSeguimiento(entidad.uej)">
                        <i class="fa fa-line-chart"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>