<div class="card">
    <div class="card-content ph-sm">
        <div class="panel-body">
            <div class="hd-xl">
                <div app-echarts [echartOptions]="echartOption"></div>
            </div>
        </div>
    </div>
</div>