.content-loading {
    z-index: 1000;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    color: white;
    background-color: rgba(6, 45, 105, 0.71);
    -moz-user-select: none;
    -webkit-user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    display: -webkit-box;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
}