<div class="card">
    <div class="card-content">
        <div class="card-title text-accend text-center">Variables Relevantes</div>
        <div class="mhd-lg">

            <div class="col-sm-12 text-center text-md lead" *ngIf="loading">
                <div class="p-xl mt-lg">
                    <p class="text-center"><i class="fa fa-spinner fa-spin fa-2x"></i></p>
                    Obteniendo Datos,<br> espere un momento...</div>
            </div>
            <div class="col-sm-12 text-center text-md lead" *ngIf="noSIIFLoader">
                <div class="p-xl mt-lg"> No ha sido cargado archivo SIIF para este período.</div>
            </div>
            <div class="col-sm-12 text-center text-md lead" *ngIf="noData">
                <div class="p-xl mt-lg"> No se encontraron datos.</div>
            </div>
            <div class="col-sm-12 text-center text-md lead" *ngIf="error">
                <div class="p-xl mt-lg">Ocurrió un error al intentar obtener los datos.</div>
            </div>


            <div class="lead text-center bg-gray-light pv-sm" [hidden]="noSIIFLoader || loading || noData || error">RECURSOS SIN COMPROMETER</div>
            <div class="row lead" [hidden]="noSIIFLoader || loading || noData || error">
                <div class="col-xs-12 col-sm-6">
                    <span class="text-sm">Total</span>
                    <span class="text-lg right">
                        <span class="text-xs">$</span> {{ sinComprometer.inversion + sinComprometer.funcionamiento | roundNumber : 'thousandsOfmillons' | number : '1.0-0' | formatNumber }}
                    <span class="bg-gray ph-sm text-sm">MM</span>
                    </span>
                </div>
                <div class="col-xs-12 col-sm-3 text-md">
                    <div class="text-sm hidden-xs">Funcionamiento</div>
                    <span class="text-sm left visible-xs">Funcionamiento</span>
                    <span class="right">
                        <span class="text-xs">$</span> {{ sinComprometer.funcionamiento | roundNumber : 'thousandsOfmillons' | number : '1.0-0' | formatNumber }}
                    <span class="bg-gray ph-sm text-sm">MM</span>
                    </span>
                </div>
                <div class="col-xs-12 col-sm-3 text-md">
                    <div class="text-sm hidden-xs">Inversión</div>
                    <span class="text-sm left visible-xs">Inversión</span>
                    <span class="right">
                        <span class="text-xs">$</span> {{ sinComprometer.inversion | roundNumber : 'thousandsOfmillons' | number : '1.0-0' | formatNumber }}
                    <span class="bg-gray ph-sm text-sm">MM</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>