<div class="card">
    <div class="card-content ph-sm">
        <div class="col-xs-12">
            <span class="card-title activator text-accend">Compromisos</span>
        </div>
        <div class="clearfix"></div>

        <div class="panel-body p-x" [hidden]="showData">
            <div class="hd-xl">
                <div app-echarts [echartOptions]="echartOption"></div>
            </div>
            <div class="row text-center">
                <div class="col-xs-4">
                    <span class="fa fa-circle text-primary"></span>
                    <span class="text-xs">Proyección</span>
                </div>
                <div class="col-xs-4">
                    <span class="fa fa-circle text-accend"></span>
                    <span class="text-xs">Ejecución</span>
                </div>
            </div>
        </div>
        <div class="panel-body p-x" [hidden]="!showData">

            <div class="hd-xl">
                <div class="row mt-lg">
                    <div class="col-xs-6">
                        <span class="lead">Apropiación Disponible</span>
                    </div>
                    <div class="col-xs-6 pv-sm">
                        <span class="lead text-bold">
                            <span class="text-xs">$</span> {{ entidad.apropiacion_disponible | roundNumber : 'millons' | number : '1.0-0' | formatNumber }}</span>
                        <span class="text-xs bg-gray ph-sm">M</span>
                    </div>
                </div>

                <!--div class="row">
                    <div class="col-xs-6">
                        <div class="lead text-left mb-sm">Compromiso</div>
                    </div>
                    <div class="col-xs-6">
                        <span class="lead"> {{ entidad.compromiso | roundNumber : 'millons' | number : '1.0-0'}}</span>
                        <span class="text-xs bg-gray ph-sm">M</span>
                    </div>
                </div-->


                <div class="row">
                    <div class="col-xs-6">
                        <div class="lead text-left mb-sm text-sm">Por Comprometer</div>
                    </div>
                    <div class="col-xs-6">
                        <span class="lead"> <span class="text-xs">$</span> {{ entidad.por_comprometer | roundNumber : 'millons' | number : '1.0-0' | formatNumber}}</span>
                        <span class="text-xs bg-gray ph-sm">M</span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        <div class="lead text-left mb-sm text-sm">Comprometido</div>
                    </div>
                    <div class="col-xs-6">
                        <span class="lead"> <span class="text-xs">$</span> {{ entidad.comprometido | roundNumber : 'millons' | number : '1.0-0' | formatNumber}}</span>
                        <span class="text-xs bg-gray ph-sm">M</span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        <div class="lead text-left mb-sm text-sm">% Compr. / Aprop.</div>
                    </div>
                    <div class="col-xs-6">
                        <span class="lead"> {{ entidad.comprometido_apropiacion | number : '1.2-2' | formatNumber}} %</span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        <div class="lead text-left mb-sm text-sm">% Meta Compromiso</div>
                    </div>
                    <div class="col-xs-6">
                        <span class="lead text-bold" [ngClass]="{'text-success': entidad.compromiso_apropiacion <= entidad.comprometido_apropiacion, 'text-danger' : entidad.compromiso_apropiacion > entidad.comprometido_apropiacion }"> {{entidad.compromiso_apropiacion | number : '1.2-2' | formatNumber}} % </span>
                    </div>
                </div>

            </div>


        </div>
    </div>
    <div class="card-action text-right">

        <span class="p-lg" (click)="goToProjects()">
            <i class="fa fa-files-o"></i>
            <span>Proyectos</span>
        </span>


        <span class="text-primary p-lg" (click)="showDatos()">
            <i class="fa" [ngClass]="{'fa-table' : !showData, 'fa-line-chart': showData }"></i>
            <span [hidden]="showData">Datos</span>
        <span [hidden]="!showData">Grafica</span>
        </span>
    </div>
</div>