<div class="bg-login"></div>
<div class="block-center mt-xl wd-xl pt-xl">
    <div class="card">
        <div class="panel-heading text-center">
            <a href="#">
                <img src="assets/img/logo-responsive.png" alt="SEP" class="block-center img-rounded height-xxs" style="max-height:56px" />
            </a>
        </div>
        <div class="panel-body">
            <p class="text-center lead mt-lg">Ingrese sus credenciales para continuar</p>
            <form novalidate="" class="mb-lg p-lg">

                <div class="input-field col s12">
                    <input placeholder="" id="usuario" type="text" class="validate" [(ngModel)]="user" [ngModelOptions]="{standalone: true}">
                    <label for="usuario">Usuario</label>
                </div>

                <div class="input-field col s12">
                    <input placeholder="" id="password" type="password" class="validate" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
                    <label for="password">Clave</label>
                </div>
                <button type="button" class="waves-effect waves-light btn btn-primary mt-lg" (click)="validateLogin()">INGRESAR</button>
            </form>
        </div>
    </div>
    <div class="p-lg text-center text-primary">
        <span>&copy; </span>
        <span> 2016 </span><span> - </span><span ng-bind="app.name">Misnisterio De Minas Y Energía</span>
    </div>
</div>
<app-loading></app-loading>
