<div class="row" *ngIf="visible">
    <div class="col-sm-12">
        <h5 class="lead text-md text-bold">IPSE</h5>
    </div>
    <app-se-ipse-compromisos class="col-sm-12 col-lg-6"></app-se-ipse-compromisos>
    <app-se-ipse-obligaciones class="col-sm-12 col-lg-6"></app-se-ipse-obligaciones>
</div>