<h3>RANKING DE ENTIDADES
    <small>Seleccione el mes y tipo de presupuesto para consultar el ranking de ejecución de las obligaciones frente a los compromisos.</small>
</h3>

<div class="row mb-lg">
    <form action="" class="form-inline">

        <div class="form-group mh-lg">
            <label>Año</label>
            <select class="form-control" [(ngModel)]="anio" [ngModelOptions]="{standalone: true}">
                <option value="2019">2019</option>
                <option value="2018">2018</option>
                <option value="2017">2017</option>
            
           </select>
        </div>
        <div class="form-group mh-lg">
            <label>Mes</label>
            <select class="form-control" [(ngModel)]="mes" (change)="obtenerDatos()" [ngModelOptions]="{standalone: true}" [disabled]="loading">
                <option value="1">Enero</option>
                <option value="2">Febrero</option>
                <option value="3">Marzo</option>
                <option value="4">Abril</option>
                <option value="5">Mayo</option>
                <option value="6">Junio</option>
                <option value="7">Julio</option>
                <option value="8">Agosto</option>
                <option value="9">Septiembre</option>
                <option value="10">Octubre</option>
                <option value="11">Noviembre</option>
                <option value="12">Diciembre</option>
            </select>
        </div>

        <div class="form-group mh-lg">
            <label>Tipo Presupuesto</label>
            <select class="form-control" [(ngModel)]="tipoPresupuesto" (change)="obtenerDatos()" [ngModelOptions]="{standalone: true}" [disabled]="loading">
            <option value="TODOS">TODOS</option>
            <option value="INVERSION">INVERSIÓN</option>
            <option value="FUNCIONAMIENTO">FUNCIONAMIENTO</option>
           </select>
        </div>
        <div class="form-group mh-lg">
            <button class="btn btn-sm btn-primary mh-lg" (click)="obtenerDatos()" [disabled]="loading">Consultar</button>
        </div>
    </form>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr class="row">
                        <th class="lead text-sm">ENTIDAD</th>
                        <th class="lead text-sm">APRO VIGENTE</th>
                        <!--th class="lead text-sm">COMPROMISO</th>
                        <th class="lead text-sm">COMPROMETIDO</th-->
                        <th class="lead text-sm">OBLIGACIÓN</th>
                        <th class="lead text-sm">OBLIGADO</th>
                        <th class="lead text-sm">ESTADO</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="height-lg" colspan="6" [hidden]="!noData">
                            <p class="text-center lead mt-xl mb-xl text-primary">No se encuentran Entidades</p>
                        </td>
                        <td class="height-lg" colspan="6" [hidden]="!loading">
                            <p class="text-center lead mt-xl mb-xl text-primary">Obteniendo Datos, espere un momento...</p>
                        </td>
                        <td class="height-lg" colspan="6" [hidden]="!error">
                            <p class="text-center lead mt-xl mb-xl text-danger">Ocurrió un error al intentar obtener los datos.</p>
                            <p class="text-center">
                                <button class="btn btn-primary" (click)="obtenerDatos()">Reintentar</button>
                            </p>
                        </td>
                        <td class="height-lg" colspan="6" [hidden]="!noSIIFLoader">
                            <p class="text-center lead mt-xl mb-xl text-primary">No se encuentra cargado ningún archivo SIIF para este período.</p>
                        </td>
                    </tr>
                    <tr class="row" *ngFor="let entidad of data | orderBy : { property: 'percent', direction: -1 }" [hidden]="noSIIFLoader">
                        <td> {{ entidad.abreviacion }} </td>
                        <td class="text-right"><span class="text-xs">$</span> {{ entidad.apropiacion_disponible | number: '1.0-0' | formatNumber }} </td>
                        <!--td class="text-right"> {{ entidad.compromiso | number: '1.0-0' }} </td>
                        <td class="text-right"> {{ entidad.comprometido | number: '1.0-0' }} </td-->
                        <td class="text-right"><span class="text-xs">$</span> {{ entidad.obligacion | number: '1.0-0' | formatNumber }} </td>
                        <td class="text-right"><span class="text-xs">$</span> {{ entidad.obligado | number: '1.0-0' | formatNumber}} </td>
                        <td class="text-center" [ngClass]="{'text-danger': entidad.percent <= 85, 'text-warning' : entidad.percent <= 90, 'text-success' : entidad.percent > 90 }">
                            <div class="fa fa-circle"></div>
                            <div class="text-bold">{{ entidad.percent | number : '1.0-0' | formatNumber}}%</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>



</div>