<div class="layout-fixed " [ngClass]="{'aside-collapsed': !showMenu }">
    <div class="wrapper">
        <app-sidebar></app-sidebar>
        <app-top-navbar></app-top-navbar>
        <section>
            <div class="content-wrapper" autoscroll="false">
                <router-outlet></router-outlet>
            </div>
        </section>
    </div>
</div>
<app-loading></app-loading>