<div class="row" *ngIf="visible">
    <div class="col-sm-12">
        <h5 class="lead text-md text-bold">SGC</h5>
    </div>
    <app-se-sgc-compromisos class="col-sm-12 col-lg-6"></app-se-sgc-compromisos>
    <app-se-sgc-obligaciones class="col-sm-12 col-lg-6"></app-se-sgc-obligaciones>
</div>