<form action="" class="form-inline">
    <div class="form-group mh-lg mb-lg">
        <button class="btn btn-primary" (click)="save()">CREAR</button>
    </div>
    <div class="form-group mh-lg mb-lg">
        <button class="btn btn-default" (click)="onBackPress()">REGRESAR</button>
    </div>
</form>

<div class="card col-sm-12 col-md-8">
    <div class="card-content p-lg">
        <form novalidate="" class="row pt-xl ph-xl">
            <div class="form-group">
                <div class="input-field">
                    <input placeholder="" id="consecutivo" type="text" class="validate" [(ngModel)]="documento.consecutivo" [ngModelOptions]="{standalone: true}">
                    <label for="consecutivo">Consecutivo</label>
                </div>
            </div>
            <div class="form-group">
                <label for="fecha">Fecha</label>
                <div class="input-field mt0">
                    <input placeholder="" id="fecha" type="date" class="validate" [(ngModel)]="documento.fecha" [ngModelOptions]="{standalone: true}">
                </div>
            </div>
            <div class="form-group">
                <label class="mr-lg">Tipo</label>
                <select class="form-control" [(ngModel)]="documento.tipoNormatividad" (ngModelChange)="onChangeTipoNormaticvidad($event)" [ngModelOptions]="{standalone: true}">
                    <option value="RESOLUCION">Resolución</option>
                    <option value="DECRETO">Decreto</option>
                </select>
            </div>
            <div class="form-group">
                <label class="mr-lg">Dependencia Proyección</label>
                <select class="form-control" [(ngModel)]="documento.proyeccion" (ngModelChange)="onChangeProyeccion($event)" [ngModelOptions]="{standalone: true}">
                    <option value="DESPACHO DEL MINISTRO">DESPACHO DEL MINISTRO</option>
                    <option value="DESPACHO VICEMINISTRO ENERGIA">DESPACHO VICEMINISTRO ENERGIA</option>
                    <option value="DESPACHO VICEMINISTRO MINAS">DESPACHO VICEMINISTRO MINAS</option>
                    <option value="DIRECCION DE ENERGIA ELECTRICA">DIRECCION DE ENERGIA ELECTRICA</option>
                    <option value="DIRECCION DE FORMALIZACION MINERA">DIRECCION DE FORMALIZACION MINERA</option>
                    <option value="DIRECCION DE HIDROCARBUROS">DIRECCION DE HIDROCARBUROS</option>
                    <option value="DIRECCION DE MINERIA EMPRESARIAL">DIRECCION DE MINERIA EMPRESARIAL</option>
                    <option value="GRUPO DE ADMINISTRACION DOCUMENTAL">GRUPO DE ADMINISTRACION DOCUMENTAL</option>
                    <option value="GRUPO DE ASUNTOS NUCLEARES">GRUPO DE ASUNTOS NUCLEARES</option>
                    <option value="GRUPO DE COMUNICACIÓN Y PRENSA">GRUPO DE COMUNICACIÓN Y PRENSA</option>
                    <option value="GRUPO DE CONTROL INTERNO DISCIPLINARIO">GRUPO DE CONTROL INTERNO DISCIPLINARIO</option>
                    <option value="GRUPO DE ENLACE AL CONGRESO">GRUPO DE ENLACE AL CONGRESO</option>                    
                    <option value="GRUPO DE GESTION CONTRACTUAL">GRUPO DE GESTION CONTRACTUAL</option>
                    <option value="GRUPO DE GESTION FINANCIERA Y CONTABLE">GRUPO DE GESTION FINANCIERA Y CONTABLE</option>
                    <option value="GRUPO DE JURISDICION COACTIVA">GRUPO DE JURISDICION COACTIVA</option>
                    <option value="GRUPO DE PARTICIPACION Y SERVICIO AL CIUDADANO">GRUPO DE PARTICIPACION Y SERVICIO AL CIUDADANO</option>
                    <option value="GRUPO DE PRESUPUESTO">GRUPO DE PRESUPUESTO</option>
                    <option value="GRUPO DE REGALIAS">GRUPO DE REGALIAS</option>
                    <option value="GRUPO DE GESTION CONTRACTUAL">GRUPO DE GESTION CONTRACTUAL</option>
                    <option value="GRUPO DE SERVICIOS ADMINISTRATRATIVOS">GRUPO DE SERVICIOS ADMINISTRATRATIVOS</option>
                    <option value="GRUPO DE TECNOLOGIAS DE INFORMACION Y COMUNICACION">GRUPO DE TECNOLOGIAS DE INFORMACION Y COMUNICACION</option>
                    <option value="GRUPO DE TESORERIA">GRUPO DE TESORERIA</option>
                    <option value="OFICINA ASESORA JURIDICA">OFICINA ASESORA JURIDICA</option>
                    <option value="OFICINA DE ASUNTOS AMBIENTALES Y SOCIALES">OFICINA DE ASUNTOS AMBIENTALES Y SOCIALES</option>
                    <option value="OFICINA DE ASUNTOS REGULATORIOS Y EMPRESARIALES">OFICINA DE ASUNTOS REGULATORIOS Y EMPRESARIALES</option>
                    <option value="OFICINA DE CONTROL INTERNO">OFICINA DE CONTROL INTERNO</option>
                    <option value="OFICINA DE PLANEACION Y GESTION INTERNACIONA">OFICINA DE PLANEACION Y GESTION INTERNACIONAL</option>
                    <option value="SECRETARIA GENERAL">SECRETARIA GENERAL</option>
                    <option value="SUBDIRECCION ADMINISTRATIVA Y FINANCIERA">SUBDIRECCION ADMINISTRATIVA Y FINANCIERA</option>
                    <option value="SUBDIRECCION DE TALENTO HUMANO">SUBDIRECCION DE TALENTO HUMANO</option>
                </select>
            </div>
            <div class="form-group">
                <label class="mr-lg">Firma</label>
                <select class="form-control" [(ngModel)]="documento.firma" (ngModelChange)="onChangeFirma($event)" [ngModelOptions]="{standalone: true}">
                    <option value="MINISTRO">MINISTRO</option>
                    <option value="VICE_MINAS">VICE MINAS</option>
                    <option value="VICE_ENERGIA">VICE ENERGÍA</option>
                    <option value="SECRETARIA_GENERAL">SECRETARÍA GENERAL</option>
                </select>
            </div>
            <div class="form-group">
                <div class="mdc-text-field mdc-text-field--textarea">
                    <label for="epigrafe" class="mdc-text-field__label">Epigrafe</label>
                    <textarea id="epigrafe" [(ngModel)]="documento.epigrafe" class="mdc-text-field__input" rows="12" [ngModelOptions]="{standalone: true}" cols="40"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="archivo" class="col-md-1">Archivo</label>
                <div class="col-md-6">
                    <input type="file" class="form-control" ng2FileSelect [uploader]="uploader">
                </div>
            </div>
        </form>
        <div class="row p-lg">
            <div class="col-xs-12">
                <label class="mdc-text-field__label">Etiquetas</label>
            </div>
            <div class="col-xs-12" [hidden]="tag.dataAutocomplete.length == 0">
                <ng-selectize [options]="tag.dataAutocomplete" [(ngModel)]="tag.items" [config]="currentOptionsConfig"></ng-selectize>
            </div>
            <div class="col-xs-12" [hidden]="tag.dataAutocomplete.length > 0">
                <div class="lead text-info mv-sm">No se encuentran etiquetas para realizar el filtro.</div>
            </div>
        </div>
    </div>
</div>