<h3 class="text-accend"> EJECUCIÓN PRESUPUESTAL
    <div class="lead text-md mb0">SECTOR</div>
    <!--div class="lead mb0">
        <span>Actualizado : </span>
        <span>31 Marzo 2017</span>
    </div-->
</h3>

<div class="row">
    <form action="" class="form-inline mb-sm">

        <div class="form-group mh-lg">
            <label class="mr-lg">Año</label>
            <select class="form-control" [(ngModel)]="anio" [ngModelOptions]="{standalone: true}">
                <option value="2019">2019</option>
                <option value="2018">2018</option>
                <option value="2017">2017</option>
           </select>
        </div>
        <div class="form-group mh-lg">
            <label>Mes</label>
            <select class="form-control" [(ngModel)]="mes" (change)="obtenerDatos()" [ngModelOptions]="{standalone: true}">
                <option value="1">Enero</option>
                <option value="2">Febrero</option>
                <option value="3">Marzo</option>
                <option value="4">Abril</option>
                <option value="5">Mayo</option>
                <option value="6">Junio</option>
                <option value="7">Julio</option>
                <option value="8">Agosto</option>
                <option value="9">Septiembre</option>
                <option value="10">Octubre</option>
                <option value="11">Noviembre</option>
                <option value="12">Diciembre</option>
            </select>
        </div>
        <button class="btn btn-sm btn-primary mh-lg" (click)="obtenerDatos()">Consultar</button>
    </form>
</div>


<div class="row">
    <app-resumen-cifras class="col-sm-12 col-lg-6"></app-resumen-cifras>
    <app-resumen-ejecucion class="col-sm-12 col-lg-6"></app-resumen-ejecucion>
    <div class="clearfix"></div>
    <app-variables-relevantes class="col-sm-12 col-lg-6"></app-variables-relevantes>
    <app-comportamiento-entidades (onGoToProjects)="goToProject($event)" (onGoToSeguimiento)="goToSeguimiento($event)" class="col-sm-12 col-lg-6"></app-comportamiento-entidades>
</div>