<div class="row">
    <form role="form" class="form-horizontal mb-lg col-md-12">
        <div class="col-sm-4 pull-right">
            <input placeholder="Búsqueda" class="form-control" />
        </div>
        <a class="btn btn-sm btn-primary" routerLink="cargar">
            <span>Agregar</span>
        </a>
        <a class="btn btn-sm btn-default">
            <span>Actualizar</span>
        </a>
    </form>
</div>

<div class="row">
    <div class="col s12">
        <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th class="lead text-sm">ID</th>
                        <th class="lead text-sm">AÑO</th>
                        <th class="lead text-sm">MES</th>
                        <th class="lead text-sm">SEMANA</th>
                        <!--<th class="lead text-sm">USUARIO</th>-->
                        <th class="lead text-sm">FECHA CARGA</th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let item of data">
                        <td>{{ item.idRegistro }}</td>
                        <td>{{ item.anio }}</td>
                        <td>{{ item.mes }}</td>
                        <td>{{ item.semana }}</td>
                        <!--<td>ANDRES LOPERA</td>-->
                        <td>{{ item.fechaCargue | date }}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>