<div class="row">
    <form action="" class="form-inline">

        <div class="form-group mh-lg">
            <label class="mr-lg">Año</label>
            <select class="form-control" [(ngModel)]="anio" [ngModelOptions]="{standalone: true}">
                <option value="2019">2019</option>
                <option value="2018">2018</option>
                <option value="2017">2017</option>
            
           </select>
        </div>


        <div class="form-group mh-lg">
            <label class="mr-lg">Filtrar por Entidad</label>
            <select class="form-control" [(ngModel)]="currentEntidad" (change)="changedEntidad()" [ngModelOptions]="{standalone: true}" [disabled]="loading">
                <option value="TODOS" selected>TODAS</option>
                <option value="21-01-01">MIN MINAS</option>
                <option value="21-11-00">ANH</option>
                <option value="21-12-00">ANM</option>
                <option value="21-01-13">CREG</option>
                <option value="21-10-00">IPSE</option>
                <option value="21-03-00">SGC</option>
                <option value="21-09-00">UPME</option>
            </select>
        </div>
        <div class="form-group mh-lg">
            <label class="mr-lg">Mes</label>
            <select class="form-control" [(ngModel)]="currentMes" (change)="updateData()" [ngModelOptions]="{standalone: true}" [disabled]="loading">
            <option value="1">Enero</option>
            <option value="2">Febrero</option>
            <option value="3">Marzo</option>
            <option value="4">Abril</option>
            <option value="5">Mayo</option>
            <option value="6">Junio</option>
            <option value="7">Julio</option>
            <option value="8">Agosto</option>
            <option value="9">Septiembre</option>
            <option value="10">Octubre</option>
            <option value="11">Noviembre</option>
            <option value="12">Diciembre</option>
            </select>
        </div>
        <div class="form-group mh-lg">
            <label class="mr-lg">Tipo Presupuesto</label>
            <select class="form-control" [(ngModel)]="tipoPresupuesto" (change)="updateData()" [ngModelOptions]="{standalone: true}" [disabled]="loading">
                <option value="TODOS">TODOS</option>
                <option value="INVERSION">INVERSIÓN</option>
                <option value="FUNCIONAMIENTO">FUNCIONAMIENTO</option>
            </select>
        </div>
        <div class="form-group mh-lg">
            <button class="btn btn-sm btn-primary" (click)="updateData()" [disabled]="loading">Consultar</button>
        </div>
    </form>
    <div class="row pt-lg">
        <div class="col-sm-8" [hidden]="tag.dataAutocomplete.length == 0">
            <!--rl-tag-input [(ngModel)]="tag.items" placeholder="Agregar Etiquetas" [autocomplete]="true" [addOnEnter]="false" [autocompleteItems]="tag.dataAutocomplete">
            </rl-tag-input-->
            <ng-selectize [options]="tag.dataAutocomplete" [(ngModel)]="tag.items" [config]="currentOptionsConfig"></ng-selectize>

        </div>
        <div class="col-sm-8" [hidden]="tag.dataAutocomplete.length > 0">
            <div class="lead text-info mv-sm ph-lg">No se encuentran etiquetas para realizar el filtro.</div>
        </div>
    </div>

</div>
<app-se-minminas [entidadHidden]="entidades_hidden"></app-se-minminas>
<app-se-anh [entidadHidden]="entidades_hidden"></app-se-anh>
<app-se-anm [entidadHidden]="entidades_hidden"></app-se-anm>
<app-se-creg [entidadHidden]="entidades_hidden"></app-se-creg>
<app-se-ipse [entidadHidden]="entidades_hidden"></app-se-ipse>
<app-se-sgc [entidadHidden]="entidades_hidden"></app-se-sgc>
<app-se-upme [entidadHidden]="entidades_hidden"></app-se-upme>