<style>
    .progress-bar {
        width: 0%;
        height: 0.3em;
        position: absolute;
        color: #fff!important;
        background-color: #069169!important;
    }
</style>

<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" *ngFor="let proyecto of data">
        <div class="card">
            <div class="card-content ph-sm">
                <div class="panel-body">
                    <div class="col-xs-12 mb-lg">
                        <p class="text-sm hd-xs">{{ proyecto.nombreproyecto }}
                            <br>
                            <span class="bg-gray ph-sm">{{proyecto.dependencia}}</span>
                        </p>
                    </div>
                    <div class="col-xs-12 mb-lg">
                        <span class="text-accend text-sm col-xs-6 col-md-5">AÑO 2016</span>
                        <span class="col-xs-6 col-md-7 text-md">{{ proyecto.vigenteanterior | number : '1.0-0' | formatNumber }}
                            <div class="progress-bar" [ngStyle]="{ 'width.%': proyecto.vigenteanterior / proyecto.total * 100 }"></div>
                        </span>
                    </div>
                    <div class="col-xs-12 mb-lg">
                        <span class="text-accend text-sm col-xs-6 col-md-5">AÑO 2017</span>
                        <span class="col-xs-6 col-md-7 text-md">{{ proyecto.vigenteactual | number : '1.0-0' | formatNumber }}
                            <div class="progress-bar" [ngStyle]="{ 'width.%': proyecto.vigenteactual / proyecto.total * 100 }"></div>
                        </span>
                    </div>
                    <div class="col-xs-12 mb-lg">
                        <span class="text-accend text-sm col-xs-6 col-md-5">SOLICITADO 2018</span>
                        <span class="col-xs-6 col-md-7 text-md">{{ proyecto.solicitado | number : '1.0-0' | formatNumber }}
                            <div class="progress-bar" [ngStyle]="{ 'width.%': proyecto.solicitado / proyecto.total * 100 }"></div>
                        </span>
                    </div>
                    <div class="col-xs-12 mb-lg">
                        <span class="text-accend text-sm col-xs-6 col-md-5">APROBADO 2018</span>
                        <span class="col-xs-6 col-md-7 text-md">{{ proyecto.cuotaaprobada | number : '1.0-0' | formatNumber }}
                            <div class="progress-bar" [ngStyle]="{ 'width.%': proyecto.cuotaaprobada / proyecto.total * 100 }"></div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!--div class="card">
    <div class="card-content ph-sm">
        <div class="panel-body">
            <div class="row">
                <div class="table-row-head lead text-sm">
                    <div class="col-xs-12 col-md-4">
                        PROYECTO
                    </div>
                    <div class="col-xs-12 col-md-2">
                        AÑO 2016
                    </div>
                    <div class="col-xs-12 col-md-2">
                        AÑO 2017
                    </div>
                    <div class="col-xs-12 col-md-2">
                        SOLICITADO 2018
                    </div>
                    <div class="col-xs-12 col-md-2">
                        APROBADO 2018
                    </div>
                </div>

                <div class="table-row" *ngFor="let proyecto of data">
                    <div class="col-xs-12 col-md-4">
                        {{ proyecto.nombreProyecto }}
                        <span class="bg-gray ph-sm">{{proyecto.grupo}}</span>
                    </div>
                    <div class="col-xs-12 col-md-2 text-md lead">
                        {{ proyecto.vigenciaAnterior | number : '1.0-0' | formatNumber }}
                    </div>
                    <div class="col-xs-12 col-md-2 text-md lead">
                        {{ proyecto.vigenciaActual | number : '1.0-0' | formatNumber }}
                    </div>
                    <div class="col-xs-12 col-md-2 text-md lead">
                        {{ proyecto.cuotaSolicitada | number : '1.0-0' | formatNumber }}
                    </div>
                    <div class="col-xs-12 col-md-2 text-md lead">
                        {{ proyecto.cuotaAprobada | number : '1.0-0' | formatNumber }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div-->