.table-row {
    display: table;
    border-bottom: 1px solid rgba(128, 128, 128, 0.25);
    border-left: 1px solid rgba(128, 128, 128, 0.25);
    border-right: 1px solid rgba(128, 128, 128, 0.25);
    padding: 1em;
    width: 100%;
}

.table-row-head {
    border: 1px solid rgba(128, 128, 128, 0.25);
    display: table;
    width: 100%;
    padding: 0.5em;
    margin-bottom: 0px;
}