<div class="row" *ngIf="visible">
    <div class="col-xs-12">
        <h5 class="lead text-md text-bold">MME</h5>
    </div>
    <app-se-minminas-compromisos class="col-sm-12 col-lg-6"></app-se-minminas-compromisos>
    <app-se-minminas-obligaciones class="col-sm-12 col-lg-6"></app-se-minminas-obligaciones>
</div>