<div class="row" *ngIf="visible">
    <div class="col-xs-12">
        <h5 class="lead text-md text-bold">ANH</h5>
    </div>
    <app-se-anh-compromisos class="col-sm-12 col-lg-6"></app-se-anh-compromisos>
    <app-se-anh-obligaciones class="col-sm-12 col-lg-6"></app-se-anh-obligaciones>
</div>