<div class="card p-x">
    <div class="card-content ">
        <div class="card-title text-accend text-center pb-lg">Resumen Cifras</div>

        <div class="mhd-lg">

            <div class="col-sm-12 text-center text-md lead" *ngIf="loading">
                <div class="p-xl mt-lg">
                    <p class="text-center"><i class="fa fa-spinner fa-spin fa-2x"></i></p>
                    Obteniendo Datos,<br> espere un momento...</div>
            </div>
            <div class="col-sm-12 text-center text-md lead" *ngIf="noSIIFLoader">
                <div class="p-xl mt-lg"> No ha sido cargado archivo SIIF para este período.</div>
            </div>
            <div class="col-sm-12 text-center text-md lead" *ngIf="noData">
                <div class="p-xl mt-lg"> No se encontraron datos.</div>
            </div>
            <div class="col-sm-12 text-center text-md lead" *ngIf="error">
                <div class="p-xl mt-lg">Ocurrió un error al intentar obtener los datos.</div>
            </div>


            <div [hidden]="noSIIFLoader || loading || noData || error">
                <section class="visible-xs">
                    <div class="divider"></div>
                    <div class="section row">
                        <div class="col-xs-12 lead mb0 mt-sm">TOTAL</div>

                        <div class="col-xs-12">
                            <span class="">Apropiación Vigente</span>
                            <span class="right text-md">
                                <span class="text-xs">$</span> {{ total.apropiacion_disponible | roundNumber : 'millons' | number : '1.0-0' | formatNumber }}
                            <span class="bg-gray ph-sm text-sm">M</span>
                            </span>
                        </div>
                        <div class="col-xs-12">
                            <span class="">Comp. / Aprop.</span>
                            <span class="right text-md">{{ total.comprometido / total.apropiacion_disponible * 100 | number : '1.2-2' | formatNumber  }}
                        <span class="ph-sm text-sm">%</span>
                            </span>
                        </div>
                        <div class="col-xs-12">
                            <span class="">Oblig. / Aprop.</span>
                            <span class="right text-md">{{ total.obligado / total.apropiacion_disponible * 100 | number : '1.2-2' | formatNumber  }}
                        <span class=" ph-sm text-sm">%</span>
                            </span>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="section row">
                        <div class="col-xs-12 lead mb0 mt-sm">FUNCIONAMIENTO</div>

                        <div class="col-xs-12">
                            <span class="">Apropiación Vigente</span>
                            <span class="right text-md">
                                <span class="text-xs">$</span> {{ funcionamiento.apropiacion_disponible | roundNumber : 'millons' | number : '1.0-0' | formatNumber }}
                            <span class="bg-gray ph-sm text-sm">M</span>
                            </span>
                        </div>
                        <div class="col-xs-12">
                            <span class="">Comp. / Aprop.</span>
                            <span class="right text-md">{{ funcionamiento.comprometido / funcionamiento.apropiacion_disponible * 100 | number : '1.2-2' | formatNumber }}
                        <span class="ph-sm text-sm">%</span>
                            </span>
                        </div>
                        <div class="col-xs-12">
                            <span class="">Oblig. / Aprop.</span>
                            <span class="right text-md">{{ funcionamiento.obligado / funcionamiento.apropiacion_disponible * 100 | number : '1.2-2' | formatNumber }}
                        <span class=" ph-sm text-sm">%</span>
                            </span>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="section row">
                        <div class="col-xs-12 lead mb0 mt-sm">INVERSIÓN</div>

                        <div class="col-xs-12">
                            <span class="">Apropiación Vigente</span>
                            <span class="right text-md">
                                <span class="text-xs">$</span>{{ inversion.apropiacion_disponible | roundNumber : 'millons' | number : '1.0-0' | formatNumber }}
                            <span class="bg-gray ph-sm text-sm">M</span>
                            </span>
                        </div>
                        <div class="col-xs-12">
                            <span class="">Comp. / Aprop.</span>
                            <span class="right text-md">{{ inversion.comprometido / inversion.apropiacion_disponible * 100 | number : '1.2-2' | formatNumber }}
                        <span class="ph-sm text-sm">%</span>
                            </span>
                        </div>
                        <div class="col-xs-12">
                            <span class="">Oblig. / Aprop.</span>
                            <span class="right text-md">{{ inversion.obligado / inversion.apropiacion_disponible * 100 | number : '1.2-2' | formatNumber }}
                        <span class=" ph-sm text-sm">%</span>
                            </span>
                        </div>
                    </div>
                </section>
            </div>

            <div class="table-responsive  hidden-xs">
                <table class="table table-hover striped table-bordered" [hidden]="noSIIFLoader || loading || noData || error">
                    <thead>
                        <th></th>
                        <th>Apropiación Vigente</th>
                        <th>Compr. / Aprop.</th>
                        <th>Oblig. / Aprop.</th>
                    </thead>
                    <tbody class="lead">
                        <tr>
                            <td>TOTAL</td>
                            <td class="text-right">
                                <span class="text-xs">$</span> {{ total.apropiacion_disponible | roundNumber : 'millons' | number : '1.0-0' | formatNumber }}
                                <span class="bg-gray ph-sm text-sm">M</span>
                            </td>
                            <td class="text-center">{{ total.comprometido / total.apropiacion_disponible * 100 | number : '1.2-2' | formatNumber}}
                                <span class="ph-sm text-sm">%</span>
                            </td>
                            <td class="text-center">{{ total.obligado / total.apropiacion_disponible * 100 | number : '1.2-2' | formatNumber}}
                                <span class=" ph-sm text-sm">%</span>
                            </td>
                        </tr>
                        <tr>
                            <td>FUNC.</td>
                            <td class="text-right"><span class="text-xs">$</span> {{ funcionamiento.apropiacion_disponible | roundNumber : 'millons' | number : '1.0-0' | formatNumber }}
                                <span class="bg-gray ph-sm text-sm">M</span>
                            </td>
                            <td class="text-center">{{ funcionamiento.comprometido / funcionamiento.apropiacion_disponible * 100 | number : '1.2-2' | formatNumber }}
                                <span class="ph-sm text-sm">%</span>
                            </td>
                            <td class="text-center">{{ funcionamiento.obligado / funcionamiento.apropiacion_disponible * 100 | number : '1.2-2' | formatNumber }}
                                <span class="ph-sm text-sm">%</span>
                            </td>
                        </tr>
                        <tr>
                            <td>INV.</td>
                            <td class="text-right"> <span class="text-xs">$</span> {{ inversion.apropiacion_disponible | roundNumber : 'millons' | number : '1.0-0' | formatNumber }}
                                <span class="bg-gray ph-sm text-sm">M</span>
                            </td>
                            <td class="text-center">{{ inversion.comprometido / inversion.apropiacion_disponible * 100 | number : '1.2-2' | formatNumber }}
                                <span class="ph-sm text-sm">%</span>
                            </td>
                            <td class="text-center">{{ inversion.obligado / inversion.apropiacion_disponible * 100 | number : '1.2-2' | formatNumber }}
                                <span class="ph-sm text-sm">%</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>


    </div>