<h3 class="text-accend"> PRESUPUESTO 2018
    <!--div class="lead text-md mb0">SECTOR</div>
    <div class="lead mb0">
        <span>Actualizado : </span>
        <span>31 Marzo 2017</span>
    </div-->
</h3>

<div class="row">
    <form action="" class="form-inline">
        <div class="form-group mh-lg">
            <label class="mr-lg">USOS</label>
            <select class="form-control" [(ngModel)]="currentType" (change)="changeType()" [ngModelOptions]="{standalone: true}" [disabled]="loading">
                <option value="SECTOR" selected>SECTOR</option>
                <option value="SEC_GENERAL">SEC. GENERAL</option>
                <option value="SUBSIDIOS">SUBSIDIOS</option>
                <option value="FONDOS">FONDOS</option>
                <option value="VICE_MINAS">VICE MINAS</option>
                <option value="VICE_ENERGIA">VICE ENERGIA</option>
            </select>
        </div>
    </form>
</div>

<div class="row">
    <app-grafico-general [data]="data"></app-grafico-general>
    <app-proyectos-detalle [data]="data"></app-proyectos-detalle>
</div>