<h3>SEGUIMIENTO PROYECTOS
    <small>Resumen de la ejecución de los proyectos, seleccione el en la esquina inferior para ver la gráfica o filtre el mes, la entidad y tipo de presupuesto. Agregue Etiquetas de su preferencia.</small>
</h3>
<div class="row">
    <form action="" class="form-inline">
        <div class="form-group mh-lg">
            <label class="mr-lg">Año</label>
            <select class="form-control" [(ngModel)]="anio" (change)="obtenerDatos()" [ngModelOptions]="{standalone: true}">
                <option value="2019">2019</option>
                <option value="2018">2018</option>
                <option value="2017">2017</option>
           
           </select>
        </div>

        <div class="form-group mh-lg">
            <label class="mr-lg">Filtrar por Entidad</label>
            <select class="form-control" [(ngModel)]="currentEntidad" (ngModelChange)="onChangeEntidad($event)" [ngModelOptions]="{standalone: true}" [disabled]="loading">
                <option value="TODOS" selected>TODAS</option>
                <option value="21-01-01">MIN MINAS</option>
                <option value="21-11-00">ANH</option>
                <option value="21-12-00">ANM</option>
                <option value="21-01-13">CREG</option>
                <option value="21-10-00">IPSE</option>
                <option value="21-03-00">SGC</option>
                <option value="21-09-00">UPME</option>
            </select>
        </div>

        <div class="form-group mh-lg">
            <label class="mr-lg">Mes</label>
            <select class="form-control" [(ngModel)]="mes" (change)="obtenerDatos()" [ngModelOptions]="{standalone: true}" [disabled]="loading">
                <option value="1">Enero</option>
                <option value="2">Febrero</option>
                <option value="3">Marzo</option>
                <option value="4">Abril</option>
                <option value="5">Mayo</option>
                <option value="6">Junio</option>
                <option value="7">Julio</option>
                <option value="8">Agosto</option>
                <option value="9">Septiembre</option>
                <option value="10">Octubre</option>
                <option value="11">Noviembre</option>
                <option value="12">Diciembre</option>
            </select>
        </div>

        <div class="form-group mh-lg">
            <label class="mr-lg">Tipo Presupuesto</label>
            <select class="form-control" [(ngModel)]="tipoPresupuesto" (change)="obtenerDatos()" [ngModelOptions]="{standalone: true}" [disabled]="loading">
            <option value="TODOS">TODOS</option>
            <option value="INVERSION">INVERSIÓN</option>
            <option value="FUNCIONAMIENTO">FUNCIONAMIENTO</option>
           </select>
        </div>
        <div class="form-group mh-lg">
            <button class="btn btn-sm btn-primary" (click)="obtenerDatos()" [disabled]="loading">Consultar</button>
        </div>
    </form>

</div>
<div class="row pt-lg">
    <div class="col-sm-8" [hidden]="tag.dataAutocomplete.length == 0">
        <!--rl-tag-input [(ngModel)]="tag.items" placeholder="Agregar Etiquetas" [autocomplete]="true" [addOnEnter]="true" [autocompleteItems]="tag.dataAutocomplete">
        </rl-tag-input-->
        <ng-selectize [options]="tag.dataAutocomplete" [(ngModel)]="tag.items" [config]="currentOptionsConfig"></ng-selectize>

    </div>
    <div class="col-sm-8" [hidden]="tag.dataAutocomplete.length > 0">
        <div class="lead text-info mv-sm">No se encuentran etiquetas para realizar el filtro.</div>
    </div>

    <div class="col-md-4 pull-right text-right">
        <input placeholder="Búsqueda" class="form-control" [(ngModel)]="filterText" (change)="filter()" [ngModelOptions]="{standalone: true}" [disabled]="loading || noData" />
    </div>

</div>

<div class="row">
    <div class="col-sm-12">
        <div class="table-responsive">
            <table class="table table-hover striped table-bordered">
                <thead>
                    <tr class="row">
                        <th class="col-xs-12 col-md-9 lead text-sm">
                            <i class="fa p-sm bg-primary mr-lg" [ngClass]="{ 'fa-plus' : !showData , 'fa-minus' : showData }" (click)="showDetalle()"></i> DESCRIPCION
                        </th>
                        <th class="col-xs-12 col-md-3 lead text-sm">APRO DISPONIBLE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="height-lg" colspan="6" [hidden]="!noData">
                            <p class="text-center lead mt-xl mb-xl text-primary">No se encuentran Proyectos</p>
                        </td>
                        <td class="height-lg" colspan="6" [hidden]="!loading">
                            <p class="text-center lead mt-xl mb-xl text-primary">Obteniendo Datos, espere un momento...</p>
                        </td>
                        <td class="height-lg" colspan="6" [hidden]="!error">
                            <p class="text-center lead mt-xl mb-xl text-danger">Ocurrió un error al intentar obtener los datos.</p>
                            <p class="text-center">
                                <button class="btn btn-primary" (click)="obtenerDatos()">Reintentar</button>
                            </p>
                        </td>

                    </tr>
                    <tr class="row" *ngFor="let proyecto of data">
                        <td class="row" colspan="6" [hidden]="proyecto.nombreuej == ''">
                            <div class="col-md-2 pt-lg text-center">
                                <a class="text-md text-primary fa fa-pencil-square-o" (click)="onSelectProyecto(proyecto)"></a>
                            </div>
                            <div class="col-md-7">
                                <span [hidden]="proyecto.alias != null">{{ proyecto.descripcion }}</span>
                                <span [hidden]="proyecto.alias == null">{{ proyecto.alias }}</span>
                                <div class="clearfix"></div>
                                <span class="bg-gray ph-sm">{{proyecto.abreviacion}}</span>
                            </div>
                            <div class="col-md-3 text-right text-md">
                                <span class="text-xs">$</span> {{ proyecto.apropiacion_disponible | roundNumber : 'millons' | number : '1.0-0' | formatNumber }}
                                <span class="text-xs bg-gray ph-sm">M</span>
                            </div>
                            <div class="clearfix"></div>


                            <!--div class="col-md-3" [hidden]="!showData">
                                <span class="text-primary clearfix">Compromiso</span>
                                <span class="lead">  {{ proyecto.compromiso | roundNumber : 'millons' | number : '1.0-0' }}
                                    <span class="text-xs bg-gray ph-sm">M</span>
                                </span>
                            </div-->
                            <div class="col-md-4">
                                <span class="text-primary clearfix">Por Comprometer</span>
                                <span class="lead"><span class="text-xs">$</span> {{ proyecto.por_comprometer | roundNumber : 'millons' | number : '1.0-0' | formatNumber}}
                                <span class="text-xs bg-gray ph-sm">M</span>
                                </span>
                            </div>
                            <div class="col-md-4">
                                <span class="text-primary clearfix">Comprometido</span>
                                <span class="lead" [ngClass]="{'text-success': proyecto.compromiso_apropiacion <= proyecto.comprometido_apropiacion, 'text-danger' : proyecto.compromiso_apropiacion > proyecto.comprometido_apropiacion }"><span class="text-xs">$</span>                                {{ proyecto.comprometido | roundNumber : 'millons' | number : '1.0-0' | formatNumber}}
                                <span class="text-xs bg-gray ph-sm">M</span>
                                </span>
                            </div>
                            <div class="col-md-2" [hidden]="!showData">
                                <span class="text-primary clearfix">% Meta Compr.</span>
                                <span class="lead text-bold" [ngClass]="{'text-success': proyecto.compromiso_apropiacion <= proyecto.comprometido_apropiacion, 'text-danger' : proyecto.compromiso_apropiacion > proyecto.comprometido_apropiacion }"> {{proyecto.compromiso_apropiacion | number : '1.2-2'  | formatNumber}} % </span>
                            </div>
                            <div class="col-md-2" [hidden]="!showData">
                                <span class="text-primary clearfix">% Compr. / Aprop.</span>
                                <span class="lead"> {{proyecto.comprometido_apropiacion | number : '1.2-2' | formatNumber}} %</span>
                            </div>
                            <div class="clearfix"></div>

                            <div class="col-md-4">
                                <span class="text-primary clearfix">Por Obligar De Comp.</span>
                                <span class="lead"><span class="text-xs">$</span> {{ proyecto.por_obligar_de_los_compromiso | roundNumber : 'millons' | number : '1.0-0' | formatNumber }}
                                <span class="text-xs bg-gray ph-sm">M</span>
                                </span>
                            </div>
                            <div class="col-md-4">
                                <span class="text-primary clearfix">Obligado</span>
                                <span class="lead" [ngClass]="{'text-success': proyecto.obligacion_apropiacion <= proyecto.obligado_apropiacion, 'text-danger' : proyecto.obligacion_apropiacion > proyecto.obligado_apropiacion }"><span class="text-xs">$</span>                                {{ proyecto.obligado | roundNumber : 'millons' | number : '1.0-0' | formatNumber }}
                                <span class="text-xs bg-gray ph-sm">M</span>
                                </span>
                            </div>
                            <div class="col-md-2" [hidden]="!showData">
                                <span class="text-primary clearfix">% Meta Oblig.</span>
                                <span class="lead text-bold" [ngClass]="{'text-success': proyecto.obligacion_apropiacion <= proyecto.obligado_apropiacion, 'text-danger' : proyecto.obligacion_apropiacion > proyecto.obligado_apropiacion }">{{ proyecto.obligacion_apropiacion | number : '1.2-2' | formatNumber}} %</span>
                            </div>
                            <div class="col-md-2" [hidden]="!showData">
                                <span class="text-primary clearfix">% Oblig. / Aprop.</span>
                                <span class="lead">{{ proyecto.obligado_apropiacion | number : '1.2-2' | formatNumber}} %</span>
                            </div>

                        </td>
                    </tr>
                </tbody>
            </table>


        </div>
    </div>
</div>
<div class="row" [hidden]="noData || loading || error">
    <div class="col-sm-12">
        <span class="lead text-md right mb0 pt-sm mt-sm">{{ paginations.totalItems }} Proyectos</span>
        <pagination [hidden]="paginations.totalItems < 2" [maxSize]="paginations.maxSize" [totalItems]="paginations.totalItems" class="pull-right m-sm" [(ngModel)]="paginations.currentPage" (pageChanged)="changePage($event)" firstText="‹‹" previousText="‹" nextText="›"
            lastText="››" [boundaryLinks]="true"></pagination>
    </div>
</div>


<div class="row" [hidden]="noData || loading || error || data.length < 2">
    <div class="col-md-9">
        <span class="lead text-lg">TOTALES</span>
    </div>
    <div class="col-md-3 text-right text-md">
        <span class="text-xs">$</span> {{ totales.apropiacion_disponible | roundNumber : 'millons' | number : '1.0-0' | formatNumber}}
        <span class="text-xs bg-gray ph-sm">M</span>
    </div>
    <div class="clearfix"></div>
    <!--div class="col-md-3" [hidden]="!showData">
        <span class="text-primary clearfix">Compromiso</span>
        <span class="lead">  {{ totales.compromiso | roundNumber : 'millons' | number : '1.0-0' }}</span>
        <span class="text-xs bg-gray ph-sm">M</span>
    </div-->
    <div class="col-md-4" [hidden]="!showData">
        <span class="text-primary clearfix">Por Comprometer</span>
        <span class="lead"><span class="text-xs">$</span> {{ totales.por_comprometer | roundNumber : 'millons' | number : '1.0-0' | formatNumber}}</span>
        <span class="text-xs bg-gray ph-sm">M</span>
    </div>
    <div class="col-md-3">
        <span class="text-primary clearfix">Comprometido</span>
        <span class="lead"><span class="text-xs">$</span> {{ totales.comprometido | roundNumber : 'millons' | number : '1.0-0' | formatNumber}}</span>
        <span class="text-xs bg-gray ph-sm">M</span>
    </div>
    <div class="col-md-3">
        <span class="text-primary clearfix">% Compr. / Aprop.</span>
        <span class="lead"> {{totales.comprometido_apropiacion | number : '1.2-2' | formatNumber}} %</span>
    </div>
    <div class="col-md-2">
        <span class="text-primary clearfix">% Meta Compr.</span>
        <span class="lead text-bold" [ngClass]="{'text-success': totales.compromiso_apropiacion <= totales.comprometido_apropiacion, 'text-danger' : totales.compromiso_apropiacion > totales.comprometido_apropiacion }"> {{totales.compromiso_apropiacion | number : '1.2-2' | formatNumber}} % </span>
    </div>
    <!--div class="col-md-3" [hidden]="!showData">
        <span class="text-primary clearfix">Obligación</span>
        <span class="lead"> {{ totales.obligacion | roundNumber : 'millons' | number : '1.0-0'}}</span>
        <span class="text-xs bg-gray ph-sm">M</span>
    </div-->
    <div class="col-md-4" [hidden]="!showData">
        <span class="text-primary clearfix">Por Obligar De Comp.</span>
        <span class="lead"><span class="text-xs">$</span> {{ totales.por_obligar_de_los_compromiso | roundNumber : 'millons' | number : '1.0-0' | formatNumber}}</span>
        <span class="text-xs bg-gray ph-sm">M</span>
    </div>
    <div class="col-md-3">
        <span class="text-primary clearfix">Obligado</span>
        <span class="lead"><span class="text-xs">$</span> {{ totales.obligado | roundNumber : 'millons' | number : '1.0-0' | formatNumber}} </span>
        <span class="text-xs bg-gray ph-sm">M</span>
    </div>
    <div class="col-md-3">
        <span class="text-primary clearfix">% Oblig. / Aprop.</span>
        <span class="lead">{{ totales.obligado_apropiacion | number : '1.2-2' | formatNumber}} %</span>
    </div>
    <div class="col-md-2">
        <span class="text-primary clearfix">% Meta Oblig.</span>
        <span class="lead text-bold" [ngClass]="{'text-success': totales.obligacion_apropiacion <= totales.obligado_apropiacion, 'text-danger' : totales.obligacion_apropiacion > totales.obligado_apropiacion }">{{ totales.obligacion_apropiacion | number : '1.2-2' | formatNumber}} %</span>
    </div>
</div>