<div class="card">
    <div class="card-content ph0">
        <div class="card-title text-accend text-center">Ejecución vs Proyección</div>

        <div class="activator panel-body p0">



            <div class="hd-xl">
                <div class="col-sm-12 text-center text-md lead" *ngIf="loading">
                    <div class="p-xl mt-lg">
                        <p class="text-center"><i class="fa fa-spinner fa-spin fa-2x"></i></p>
                        Obteniendo Datos,<br> espere un momento...</div>
                </div>
                <div class="col-sm-12 text-center text-md lead" *ngIf="noSIIFLoader">
                    <div class="p-xl mt-lg"> No ha sido cargado archivo SIIF para este período.</div>
                </div>
                <div class="col-sm-12 text-center text-md lead" *ngIf="noData">
                    <div class="p-xl mt-lg"> No se encontraron datos.</div>
                </div>
                <div class="col-sm-12 text-center text-md lead" *ngIf="error">
                    <div class="p-xl mt-lg">Ocurrió un error al intentar obtener los datos.</div>
                </div>
                <div app-echarts [echartOptions]="echartOption" [hidden]="noSIIFLoader || loading || noData || error"></div>
            </div>
            <div class="row text-center" [hidden]="noSIIFLoader || loading || noData || error">
                <div class="col-xs-4">
                    <span class="fa fa-circle text-primary"></span>
                    <span class="text-xs">Presidencia</span>
                </div>
                <div class="col-xs-4">
                    <span class="fa fa-circle text-accend"></span>
                    <span class="text-xs">Ejecución</span>
                </div>
                <div class="col-xs-4">
                    <span class="fa fa-circle text-gray"></span>
                    <span class="text-xs">Mejor Año</span>
                </div>
            </div>
        </div>
    </div>
</div>