<div class="row" *ngIf="visible">
    <div class="col-sm-12">
        <h5 class="lead text-md text-bold">ANM</h5>
    </div>
    <app-se-anm-compromisos class="col-sm-12 col-lg-6"></app-se-anm-compromisos>
    <app-se-anm-obligaciones class="col-sm-12 col-lg-6"></app-se-anm-obligaciones>
</div>