<div class="row">
    <form action="" class="form-inline">
        <div class="form-group mh-lg">
            <button class="btn btn-sm btn-primary" (click)="newDocument()" [disabled]="loading">Nuevo</button>
        </div>
        <div class="form-group mh-lg">
            <label class="mr-lg">Año</label>
            <select class="form-control" [(ngModel)]="anio" (change)="obtenerDatos()" [ngModelOptions]="{standalone: true}" [disabled]="loading">
            <option value="2017">2017</option>
            <option value="2018">2018</option>
            <option value="2019">2019</option>
            <option value="2020">2020</option>
           </select>
        </div>

        <div class="form-group mh-lg">
            <label class="mr-lg">Mes</label>
            <select class="form-control" [(ngModel)]="mes" (change)="obtenerDatos()" [ngModelOptions]="{standalone: true}" [disabled]="loading">
                <option value="1">Enero</option>
                <option value="2">Febrero</option>
                <option value="3">Marzo</option>
                <option value="4">Abril</option>
                <option value="5">Mayo</option>
                <option value="6">Junio</option>
                <option value="7">Julio</option>
                <option value="8">Agosto</option>
                <option value="9">Septiembre</option>
                <option value="10">Octubre</option>
                <option value="11">Noviembre</option>
                <option value="12">Diciembre</option>
            </select>
        </div>

        <div class="form-group mh-lg">
            <label class="mr-lg">Firma</label>
            <select class="form-control" [(ngModel)]="firma" (change)="filterData()" [ngModelOptions]="{standalone: true}" [disabled]="loading">
                    <option value="">Todos</option>
                    <option value="MINISTRO">MINISTRO</option>
                    <option value="VICE_MINAS">VICE MINAS</option>
                    <option value="VICE_ENERGIA">VICE ENERGÍA</option>
                    <option value="SECRETARIA_GENERAL">SECRETARÍA GENERAL</option>
           </select>
        </div>
        <div class="form-group">
            <label class="mr-lg">Dependencia Proyección</label>
            <select class="form-control" [(ngModel)]="proyeccion" (ngModelChange)="filterData()" [ngModelOptions]="{standalone: true}" [disabled]="loading">
                    <option value="">Todos</option>
                    <option value="DESPACHO DEL MINISTRO">DESPACHO DEL MINISTRO</option>
                    <option value="DESPACHO VICEMINISTRO ENERGIA">DESPACHO VICEMINISTRO ENERGIA</option>
                    <option value="DESPACHO VICEMINISTRO MINAS">DESPACHO VICEMINISTRO MINAS</option>
                    <option value="DIRECCION DE ENERGIA ELECTRICA">DIRECCION DE ENERGIA ELECTRICA</option>
                    <option value="DIRECCION DE FORMALIZACION MINERA">DIRECCION DE FORMALIZACION MINERA</option>
                    <option value="DIRECCION DE HIDROCARBUROS">DIRECCION DE HIDROCARBUROS</option>
                    <option value="DIRECCION DE MINERIA EMPRESARIAL">DIRECCION DE MINERIA EMPRESARIAL</option>
                    <option value="GRUPO DE ADMINISTRACION DOCUMENTAL">GRUPO DE ADMINISTRACION DOCUMENTAL</option>
                    <option value="GRUPO DE ASUNTOS NUCLEARES">GRUPO DE ASUNTOS NUCLEARES</option>
                    <option value="GRUPO DE COMUNICACIÓN Y PRENSA">GRUPO DE COMUNICACIÓN Y PRENSA</option>
                    <option value="GRUPO DE CONTROL INTERNO DISCIPLINARIO">GRUPO DE CONTROL INTERNO DISCIPLINARIO</option>
                    <option value="GRUPO DE ENLACE AL CONGRESO">GRUPO DE ENLACE AL CONGRESO</option>                    
                    <option value="GRUPO DE GESTION CONTRACTUAL">GRUPO DE GESTION CONTRACTUAL</option>
                    <option value="GRUPO DE GESTION FINANCIERA Y CONTABLE">GRUPO DE GESTION FINANCIERA Y CONTABLE</option>
                    <option value="GRUPO DE JURISDICION COACTIVA">GRUPO DE JURISDICION COACTIVA</option>
                    <option value="GRUPO DE PARTICIPACION Y SERVICIO AL CIUDADANO">GRUPO DE PARTICIPACION Y SERVICIO AL CIUDADANO</option>
                    <option value="GRUPO DE PRESUPUESTO">GRUPO DE PRESUPUESTO</option>
                    <option value="GRUPO DE REGALIAS">GRUPO DE REGALIAS</option>
                    <option value="GRUPO DE GESTION CONTRACTUAL">GRUPO DE GESTION CONTRACTUAL</option>
                    <option value="GRUPO DE SERVICIOS ADMINISTRATRATIVOS">GRUPO DE SERVICIOS ADMINISTRATRATIVOS</option>
                    <option value="GRUPO DE TECNOLOGIAS DE INFORMACION Y COMUNICACION">GRUPO DE TECNOLOGIAS DE INFORMACION Y COMUNICACION</option>
                    <option value="GRUPO DE TESORERIA">GRUPO DE TESORERIA</option>
                    <option value="OFICINA ASESORA JURIDICA">OFICINA ASESORA JURIDICA</option>
                    <option value="OFICINA DE ASUNTOS AMBIENTALES Y SOCIALES">OFICINA DE ASUNTOS AMBIENTALES Y SOCIALES</option>
                    <option value="OFICINA DE ASUNTOS REGULATORIOS Y EMPRESARIALES">OFICINA DE ASUNTOS REGULATORIOS Y EMPRESARIALES</option>
                    <option value="OFICINA DE CONTROL INTERNO">OFICINA DE CONTROL INTERNO</option>
                    <option value="OFICINA DE PLANEACION Y GESTION INTERNACIONA">OFICINA DE PLANEACION Y GESTION INTERNACIONAL</option>
                    <option value="SECRETARIA GENERAL">SECRETARIA GENERAL</option>
                    <option value="SUBDIRECCION ADMINISTRATIVA Y FINANCIERA">SUBDIRECCION ADMINISTRATIVA Y FINANCIERA</option>
                    <option value="SUBDIRECCION DE TALENTO HUMANO">SUBDIRECCION DE TALENTO HUMANO</option>
                </select>
        </div>
    </form>

</div>
<div class="row pt-lg">
    <div class="col-sm-8" [hidden]="tag.dataAutocomplete.length == 0">
        <ng-selectize [options]="tag.dataAutocomplete" [(ngModel)]="tag.items" (ngModelChange)="changedItemsTag()" [config]="currentOptionsConfig"></ng-selectize>
    </div>
    <div class="col-sm-8" [hidden]="tag.dataAutocomplete.length > 0">
        <div class="lead text-info mv-sm">No se encuentran etiquetas para realizar el filtro.</div>
    </div>

    <div class="col-md-4 pull-right text-right">
        <input placeholder="Búsqueda" class="form-control" [(ngModel)]="filterText" (change)="filterData()" [ngModelOptions]="{standalone: true}" />
    </div>

</div>

<div class="row">
    <div class="card" [hidden]="!noData">
        <div class="card-content height-lg">
            <p class="text-center lead mt-xl mb-xl text-primary">No se encontraron Documentos</p>
        </div>
    </div>
    <div class="card" [hidden]="!loading">
        <div class="card-content height-lg">
            <p class="text-center lead mt-xl mb-xl text-primary">Obteniendo Datos, espere un momento...</p>
        </div>
    </div>
    <div class="card" [hidden]="!error">
        <div class="card-content height-lg">
            <p class="text-center lead mt-xl mb-xl text-danger">Ocurrió un error al intentar obtener los documentos.</p>
            <p class="text-center">
                <button class="btn btn-primary" (click)="obtenerDatos()">Reintentar</button>
            </p>
        </div>
    </div>
    <div class="card" *ngFor="let documento of data">
        <div class="card-content ph-md row">
            <div class="col-xs-12">
                <span class="card-title activator text-accend">{{ documento.tipoNormatividad }}
                        <span class="mr-lg text-primary text-md">{{ documento.consecutivo }}</span>
                </span>
                <span class="right">
                    {{ documento.fecha | date:'dd-MM-yyyy' }}
                </span>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12 mb-lg">
                <p class="lead mb-sm">{{ documento.epigrafe }}</p>
                <div class="clearfix"></div>
                <span class="bg-gray ph-sm mh-sm" *ngFor="let tag of documento.tag">{{tag.nombreTag}}</span>
            </div>
            <div class="col-md-6"><span class="text-primary text-sm">Firmó:</span> {{ documento.firma }} </div>
            <div class="col-md-6"><span class="text-primary text-sm">Proyectó:</span> {{ documento.proyeccion }} </div>
            <button class="btn-default pull-right" (click)="downloadfile(documento.adjunto)" [hidden]="documento.adjunto == null">
                <i class="fa fa-download" aria-hidden="true"></i>
                Descargar
            </button>
        </div>
    </div>
</div>
<div class="row" [hidden]="noData || loading || error">
    <div class="col-sm-12">
        <span class="lead text-md right mb0 pt-sm mt-sm">{{ paginations.totalItems }} Documentos</span>
        <pagination [hidden]="paginations.totalItems < 11" [maxSize]="paginations.maxSize" [totalItems]="paginations.totalItems" class="pull-right m-sm" [(ngModel)]="paginations.currentPage" (pageChanged)="changePage($event)" firstText="‹‹" previousText="‹" nextText="›"
            lastText="››" [boundaryLinks]="true"></pagination>
    </div>
</div>