<div class="panel">
  <div class="panel-body">

    <div class="row pt-sm">
      <div class="form-group clearfix">
        <label class="col-md-2">UEJ</label>
        <div class="col-md-4">
          <input class="form-control" disabled type="text" [ngModel]="proyecto.uej">
        </div>
      </div>
      <div class="form-group clearfix">
        <label class="col-md-2">Rubro</label>
        <div class="col-md-4">
          <input class="form-control" disabled type="text" [ngModel]="proyecto.rubro">
        </div>
      </div>
      <div class="form-group clearfix">
        <label class="col-md-2">Tipo</label>
        <div class="col-md-4">
          <input class="form-control" disabled type="text" [ngModel]="proyecto.tipo">
        </div>
      </div>
      <div class="form-group clearfix">
        <label class="col-md-2">Fuente</label>
        <div class="col-md-4">
          <input class="form-control" disabled type="text" [ngModel]="proyecto.fuente">
        </div>
      </div>
      <div class="form-group clearfix">
        <label class="col-md-2">Recurso</label>
        <div class="col-md-4">
          <input class="form-control" disabled type="text" [ngModel]="proyecto.rec">
        </div>
      </div>
      <div class="form-group clearfix">
        <label class="col-md-2">SIT</label>
        <div class="col-md-4">
          <input class="form-control" disabled type="text" [ngModel]="proyecto.sit">
        </div>
      </div>
    </div>
  </div>
</div>