.row {
  margin-bottom: 0px;
}
.default.ng2-tag-input--focused {
  border-bottom: 1px solid #069169 !important;
}
.height-xxxs {
  height: 40px;
}
.height-xxs {
  height: 70px;
}
.height-xs {
  height: 100px;
}
.height-sm {
  height: 200px;
}
.height-md {
  height: 300px;
}
.height-lg {
  height: 400px;
}
.height-xl {
  height: 500px;
}
.height-xxl {
  height: 600px;
}
