@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Roboto:400italic,300,700,300italic,400);
/* ========================================================================
   Component: layout.less
 ========================================================================== */
html {
  /* @replace rtl */
  direction: ltr;
  height: 100%;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
html,
body {
  height: 100%;
  background-color: #f5f7fa;
}
.wrapper {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100%;
  overflow-x: hidden;
}
.wrapper.ng-leave {
  display: none;
}
.wrapper .aside {
  position: absolute;
  width: 220px;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 116;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: white;
}
.wrapper .aside .aside-inner {
  padding-top: 108px;
  height: 100%;
  width: 220px;
  overflow: hidden;
}
.wrapper .aside > .nav-floating {
  left: inherit;
  margin-left: 220px;
  z-index: 1110;
  min-width: 190px;
  overflow: auto;
}
.wrapper .aside .dropdown-backdrop {
  z-index: -1;
}
.wrapper > section {
  position: relative;
  height: 100%;
  margin-left: 0;
  z-index: 111;
  background-color: #f5f7fa;
  margin-bottom: 60px !important;
}
.wrapper > footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 60px;
  border-top: 1px solid #e4eaec;
  padding: 20px;
  z-index: 109;
}
.wrapper > footer > p {
  margin: 0;
}
.modal-open .wrapper {
  z-index: 0;
}
.content-wrapper {
  padding: 15px;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  margin-top: -1px;
}
.content-wrapper .unwrap {
  margin: -15px;
}
@media only screen and (min-width: 768px) {
  .content-wrapper .unwrap {
    margin: -20px;
  }
}
.content-wrapper h3,
.content-wrapper .content-heading {
  font-size: 21px;
  line-height: 1.1;
  color: #929292;
  margin: -15px;
  margin-bottom: 20px;
  padding: 15px;
  font-weight: normal;
  background-color: #fafbfc;
  border-bottom: 1px solid #cfdbe2;
}
.content-wrapper h3 > small,
.content-wrapper .content-heading > small {
  display: block;
  font-size: 12px;
  color: #909FA7;
}
.content-wrapper button,
.content-wrapper .btn {
  margin: 10px 10px 0 0;
}
.content-wrapper .container,
.content-wrapper .container-fluid {
  padding-left: 0;
  padding-right: 0;
}
@media only screen and (min-width: 768px) {
  .content-wrapper {
    padding: 20px;
  }
  .content-wrapper h3,
  .content-wrapper .content-heading {
    margin: -20px;
    margin-bottom: 20px;
    padding: 20px;
  }
  .content-wrapper button,
  .content-wrapper .btn {
    margin: 0;
  }
}
@media only screen and (min-width: 768px) {
  body {
    min-height: 100%;
  }
  .wrapper {
    /*
    section,
    footer {
      margin-left: @aside-wd;
    }
*/
  }
  .wrapper .aside .aside-inner {
    padding-top: 54px;
  }
  .wrapper section.has-sidebar-right {
    margin-right: 240px;
  }
  .wrapper section.has-sidebar-right + .offsidebar {
    z-index: 1;
  }
}
@media only screen and (max-width: 767px) {
  .wrapper .aside {
    margin-left: -220px;
  }
  .aside-toggled .wrapper {
    /*
      section,
      footer {
        margin-left: @aside-wd;
      }
      */
  }
  .aside-toggled .wrapper .aside {
    margin-left: 0;
  }
  .csstransforms3d .wrapper {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .csstransforms3d .wrapper > section,
  .csstransforms3d .wrapper > footer {
    margin-left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.3s ease;
    -moz-transition: -moz-transform 0.3s ease;
    -o-transition: -o-transform 0.3s ease;
    transition: transform 0.3s ease;
  }
  .csstransforms3d .wrapper .aside {
    margin-left: 0;
    -webkit-transform: translate3d(-220px, 0, 0);
    transform: translate3d(-220px, 0, 0);
    -webkit-transition: -webkit-transform 0.3s ease;
    -moz-transition: -moz-transform 0.3s ease;
    -o-transition: -o-transform 0.3s ease;
    transition: transform 0.3s ease;
  }
  .csstransforms3d .aside-toggled .wrapper > section,
  .csstransforms3d .aside-toggled .wrapper > footer {
    -webkit-transform: translate3d(220px, 0, 0);
    transform: translate3d(220px, 0, 0);
  }
  .csstransforms3d .aside-toggled .wrapper .aside {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@media only screen and (max-width: 767px) {
  .aside-collapsed .wrapper .aside {
    margin-left: -70px;
  }
  .aside-collapsed.aside-toggled .wrapper {
    /*
      section,
      footer {
        margin-left: @aside-wd-collapsed;
      }
      */
  }
  .aside-collapsed.aside-toggled .wrapper .aside {
    margin-left: 0;
  }
  .csstransforms3d .aside-collapsed .wrapper {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .csstransforms3d .aside-collapsed .wrapper section,
  .csstransforms3d .aside-collapsed .wrapper footer {
    margin-left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.3s ease;
    -moz-transition: -moz-transform 0.3s ease;
    -o-transition: -o-transform 0.3s ease;
    transition: transform 0.3s ease;
  }
  .csstransforms3d .aside-collapsed .wrapper .aside {
    margin-left: 0;
    -webkit-transform: translate3d(-70px, 0, 0);
    transform: translate3d(-70px, 0, 0);
    -webkit-transition: -webkit-transform 0.3s ease;
    -moz-transition: -moz-transform 0.3s ease;
    -o-transition: -o-transform 0.3s ease;
    transition: transform 0.3s ease;
  }
  .csstransforms3d .aside-collapsed.aside-toggled .wrapper section,
  .csstransforms3d .aside-collapsed.aside-toggled .wrapper footer {
    -webkit-transform: translate3d(70px, 0, 0);
    transform: translate3d(70px, 0, 0);
  }
  .csstransforms3d .aside-collapsed.aside-toggled .wrapper .aside {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.aside-collapsed {
  overflow-y: auto;
}
.aside-collapsed .wrapper .aside,
.aside-collapsed .wrapper .aside > .aside-inner {
  width: 70px;
}
.aside-collapsed .wrapper .aside > .nav-floating {
  margin-left: 70px;
}
/*
@media @tablet {
  // Aside status toggled via JS
  .aside-collapsed {
    .wrapper {
      > section,
      > footer {
        margin-left: @aside-wd-collapsed;
      }
    }
  }
}
      */
.layout-fixed {
  height: 100%;
}
@media (max-width: 1140px) {
  .layout-fixed.aside-toggled,
  .layout-fixed.offsidebar-open {
    overflow-y: hidden;
  }
}
.layout-fixed .wrapper {
  /* only applied to sidebar */
}
.layout-fixed .wrapper .topnavbar-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 121;
}
.layout-fixed .wrapper aside {
  position: fixed;
}
.layout-fixed .wrapper .aside {
  /* safari fix */
  height: 1px;
  min-height: 100%;
  /* ios blanks space fix */
}
.layout-fixed .wrapper .aside > .aside-inner {
  position: fixed;
  top: 0;
  bottom: 0;
}
.layout-fixed .wrapper > section {
  margin-top: 54px;
}
@media only screen and (min-width: 768px) {
  .layout-fixed .wrapper > section {
    margin-top: 54px;
  }
}
/* IE10+ hack: safari fix breaks ie so we need to target ie only to restore */
_:-ms-lang(x),
.layout-fixed .wrapper .aside > .aside-inner {
  position: static !important;
}
@media only screen and (min-width: 992px) {
  .layout-boxed {
    overflow: auto !important;
  }
  .layout-boxed .wrapper {
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.25);
  }
  .layout-boxed .wrapper .offsidebar {
    position: absolute !important;
  }
  .layout-boxed .wrapper .aside {
    left: inherit;
  }
  .layout-boxed .wrapper,
  .layout-boxed .wrapper .topnavbar-wrapper {
    width: 970px;
  }
  .layout-boxed.layout-fixed .wrapper .aside > .aside-inner {
    left: inherit;
  }
}
@media only screen and (min-width: 1200px) {
  .layout-boxed .wrapper,
  .layout-boxed .wrapper .topnavbar-wrapper {
    width: 1140px;
  }
}
/* ========================================================================
   Component: layout-animation.less
 ========================================================================== */
.wrapper .aside {
  -webkit-transition: width .2s cubic-bezier(0.35, 0, 0.25, 1), translate .2s cubic-bezier(0.35, 0, 0.25, 1);
  -o-transition: width .2s cubic-bezier(0.35, 0, 0.25, 1), translate .2s cubic-bezier(0.35, 0, 0.25, 1);
  transition: width .2s cubic-bezier(0.35, 0, 0.25, 1), translate .2s cubic-bezier(0.35, 0, 0.25, 1);
}
.aside-inner,
.navbar-header,
.sidebar > .nav > li {
  -webkit-transition: width 0.2s cubic-bezier(0.35, 0, 0.25, 1);
  -o-transition: width 0.2s cubic-bezier(0.35, 0, 0.25, 1);
  transition: width 0.2s cubic-bezier(0.35, 0, 0.25, 1);
}
.wrapper > section {
  -webkit-transition: margin-left 0.2s cubic-bezier(0.35, 0, 0.25, 1);
  -o-transition: margin-left 0.2s cubic-bezier(0.35, 0, 0.25, 1);
  transition: margin-left 0.2s cubic-bezier(0.35, 0, 0.25, 1);
}
.sidebar > .nav .label {
  -webkit-animation: fadeInRight 1s;
  -o-animation: fadeInRight 1s;
  animation: fadeInRight 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.aside-collapsed .sidebar > .nav .label {
  -webkit-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
.sidebar .nav > li > a {
  -webkit-animation: fadeInLeft 0.5s;
  -o-animation: fadeInLeft 0.5s;
  animation: fadeInLeft 0.5s;
}
.sidebar > .nav > .nav-heading,
.sidebar > .nav > li > a > span,
.navbar-brand .brand-logo {
  -webkit-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
.sidebar li > a,
.sidebar li > .nav-item,
.sidebar > .nav > .nav-heading {
  white-space: nowrap;
}
.aside-collapsed .user-block-picture {
  -webkit-transition: width 0.2s cubic-bezier(0.35, 0, 0.25, 1);
  -o-transition: width 0.2s cubic-bezier(0.35, 0, 0.25, 1);
  transition: width 0.2s cubic-bezier(0.35, 0, 0.25, 1);
}
.aside-collapsed .user-block {
  -webkit-transition: padding 0.2s cubic-bezier(0.35, 0, 0.25, 1);
  -o-transition: padding 0.2s cubic-bezier(0.35, 0, 0.25, 1);
  transition: padding 0.2s cubic-bezier(0.35, 0, 0.25, 1);
}
/* ========================================================================
   Component: layout-extra.less
 ========================================================================== */
.hidden-footer .wrapper > footer {
  display: none;
}
.hidden-footer .wrapper > section {
  margin-bottom: 0 !important;
}
.layout-fs .wrapper section {
  position: absolute;
  top: 108px;
  left: 0;
  right: 0;
  bottom: 60px;
  height: auto;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
@media only screen and (min-width: 480px) {
  .layout-fs .wrapper section {
    overflow: hidden;
  }
}
@media only screen and (min-width: 768px) {
  .layout-fs .wrapper section {
    top: 54px;
  }
}
.layout-fs .wrapper section .content-wrapper {
  width: 100%;
  height: 100%;
  padding: 0;
}
.layout-fs.hidden-footer .wrapper section {
  bottom: 0;
}
.d-table,
.d-table-fixed {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 240px;
  border-spacing: 0;
}
.d-table-fixed {
  table-layout: fixed;
}
.d-row {
  display: table-row;
  height: 100%;
}
.d-cell,
.d-cell-wrapper {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: top;
  overflow: auto;
}
.d-cell-wrapper {
  display: block;
}
.d-cell-wrapper .d-cell-inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
@media only screen and (max-width: 767px) {
  .d-table-fixed {
    display: block;
  }
  .d-table-fixed .d-cell {
    display: block;
    width: auto;
    height: auto;
  }
}
/* Target Firefox only */
@-moz-document url-prefix() {
  .d-table,
  .d-table-desktop {
    height: 240px;
    min-height: 100%;
  }
  .d-cell-inner {
    overflow: auto;
  }
}
.fh {
  height: 100% !important;
}
.fw {
  width: 100% !important;
}
.scroll {
  overflow: auto;
}
.scroll-y {
  overflow-y: auto;
}
.scroll-y {
  overflow-y: auto;
}
.layout-h .wrapper section {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}
.layout-h .wrapper section .content-wrapper h3 {
  display: none;
}
.layout-h .wrapper section {
  margin-top: 0;
}
.layout-h .wrapper .offsidebar {
  margin-top: 54px;
}
.layout-h .wrapper footer {
  margin: 0;
}
.layout-h.layout-fixed .wrapper section,
.layout-h.layout-fixed .wrapper .offsidebar {
  margin-top: 54px;
}
.aside-float .wrapper {
  box-shadow: 0 0 0 #000;
}
.aside-float .wrapper > footer {
  border: 0;
}
.aside-float .wrapper .aside {
  padding: 15px 0;
  background: transparent;
}
.aside-float .wrapper .aside > .aside-inner {
  height: 100%;
  top: 15px;
  bottom: 15px;
  left: inherit;
}
.aside-float .wrapper .aside .sidebar {
  border: 1px solid #e4eaec;
}
.aside-float .wrapper .aside .sidebar:after {
  display: none;
}
@media only screen and (min-width: 768px) {
  .aside-float .wrapper section {
    padding-left: 15px;
  }
  .aside-float .wrapper footer {
    left: 15px;
  }
}
.aside-float .wrapper .content-wrapper {
  border: 0;
}
.aside-float .wrapper .content-wrapper h3,
.aside-float .wrapper .content-wrapper .content-heading {
  padding-top: 30px;
  border: 0;
  background-color: transparent;
}
.aside-float .wrapper .content-wrapper .unwrap {
  margin: 0 !important;
}
.aside-float.aside-toggled .wrapper .aside {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}
.aside-float.aside-toggled .wrapper .aside .aside-inner {
  margin-left: 15px;
}
.aside-float.aside-toggled .wrapper section {
  padding-left: 15px;
}
.aside-float.aside-toggled .wrapper footer {
  left: 15px;
}
@media only screen and (min-width: 768px) {
  .aside-float.aside-collapsed .topnavbar .navbar-header {
    width: 100px;
  }
  .aside-float.layout-fs .wrapper section .content-wrapper {
    padding: 0 0 0 20px;
  }
  .aside-float .wrapper .aside > .aside-inner {
    margin-left: 15px;
  }
}
@media only screen and (min-width: 992px) {
  .aside-float.layout-boxed .wrapper .aside > .aside-inner {
    margin-left: 0;
  }
  .aside-float.layout-boxed .wrapper > section {
    padding-left: 0;
  }
}
.aside-float.aside-toggled.layout-fs .wrapper section .content-wrapper {
  padding: 0 0 0 20px;
}
/* ========================================================================
   Component: top-navbar.less
 ========================================================================== */
.topnavbar {
  -webkit-backface-visibility: hidden;
  /* fixes chrome jump */
  margin-bottom: 0;
  border-radius: 0;
  background-color: #fff;
  z-index: 1050;
  border: 0;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
}
@media only screen and (min-width: 768px) {
  .topnavbar {
    box-shadow: 0 0 0 #000;
  }
  .topnavbar .navbar-header {
    width: 220px;
    text-align: center;
  }
  .topnavbar .navbar-header .navbar-brand {
    width: 100%;
  }
}
.navbar {
  border: none;
  margin-bottom: 0px;
}
.topnavbar {
  position: relative;
}
.topnavbar .navbar-header {
  background-color: transparent;
  background-image: -webkit-linear-gradient(left, #069169 0%, #069169 100%);
  background-image: -o-linear-gradient(left, #069169 0%, #069169 100%);
  background-image: linear-gradient(to right, #069169 0%, #069169 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff069169', endColorstr='#ff069169', GradientType=1);
}
@media only screen and (min-width: 768px) {
  .topnavbar .navbar-header {
    background-image: none;
  }
}
.topnavbar .navbar-header {
  position: relative;
  z-index: 11;
}
.topnavbar .navbar-header .navbar-brand {
  padding: 0;
}
.topnavbar .navbar-header .brand-logo > img,
.topnavbar .navbar-header .brand-logo-collapsed > img {
  margin: 0 auto;
}
.topnavbar .navbar-header .brand-logo {
  width: 100%;
  display: block;
  padding: 3% 3%;
}
.topnavbar .navbar-header .brand-logo-collapsed {
  display: none;
  padding: 10px 15px;
}
.topnavbar .navbar-nav > li > a,
.topnavbar .navbar-nav > .open > a {
  color: #069169;
}
.topnavbar .navbar-nav > li > a:hover,
.topnavbar .navbar-nav > .open > a:hover,
.topnavbar .navbar-nav > li > a:focus,
.topnavbar .navbar-nav > .open > a:focus {
  color: #022f22;
}
.topnavbar .navbar-nav > .active > a,
.topnavbar .navbar-nav > .open > a,
.topnavbar .navbar-nav > .active > a:hover,
.topnavbar .navbar-nav > .open > a:hover,
.topnavbar .navbar-nav > .active > a:focus,
.topnavbar .navbar-nav > .open > a:focus {
  background-color: transparent;
}
.topnavbar .navbar-nav > li > [data-toggle='navbar-search'] {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 20;
  font-size: 16px;
  line-height: 54px;
  color: #fff;
  padding-top: 0;
  padding-bottom: 0;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
@media only screen and (min-width: 768px) {
  .topnavbar .navbar-nav > li > [data-toggle='navbar-search'] {
    color: #fff;
  }
}
@media only screen and (max-width: 767px) {
  .sidebar-toggle {
    position: absolute !important;
    top: 0;
    right: 0;
    z-index: 3001;
    line-height: 54px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .sidebar-toggle > em {
    color: white;
  }
}
.nav-wrapper {
  padding: 0 15px;
  background-color: transparent;
}
.nav-wrapper .nav.navbar-nav {
  float: left;
}
.nav-wrapper .nav.navbar-nav.navbar-right {
  float: right;
}
.nav-wrapper .nav > li {
  position: static;
  float: left;
}
.nav-wrapper .navbar-nav .open .dropdown-menu {
  position: absolute;
  background-color: #ffffff;
  left: 0px;
  right: 0px;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}
.topnavbar .navbar-form {
  position: absolute;
  top: -100%;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  height: 54px;
  z-index: 9001;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  border: 0;
  border-bottom: 1px solid #e1e2e3;
}
.topnavbar .navbar-form .form-group {
  height: 100%;
  width: 100%;
}
.topnavbar .navbar-form .form-control {
  height: 100%;
  border: 0;
  border-radius: 0;
  width: 100%;
}
.topnavbar .navbar-form.open {
  top: 0;
}
.topnavbar .navbar-form .has-feedback .form-control-feedback {
  height: 30px;
  cursor: pointer;
  top: 50%;
  margin-top: -15px;
  line-height: 30px;
  margin-right: 10px;
  color: #c1c2c3;
  font-size: 1.5em;
  pointer-events: auto;
}
@media only screen and (min-width: 768px) {
  .topnavbar .navbar-form {
    left: 220px;
  }
}
@media only screen and (min-width: 768px) {
  .topnavbar {
    border: 0;
    background-color: #069169;
    background-image: -webkit-linear-gradient(left, #069169 0%, #069169 100%);
    background-image: -o-linear-gradient(left, #069169 0%, #069169 100%);
    background-image: linear-gradient(to right, #069169 0%, #069169 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff069169', endColorstr='#ff069169', GradientType=1);
  }
  .topnavbar .navbar-header {
    background-image: none;
    background-repeat: no-repeat;
    filter: none;
  }
  .topnavbar .navbar-nav > a {
    box-shadow: 0 0 0 #000 inset;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
  }
  .topnavbar .navbar-nav > .open > a,
  .topnavbar .navbar-nav > .open > a:hover,
  .topnavbar .navbar-nav > .open > a:focus {
    box-shadow: 0 -3px 0 #057454 inset;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
  }
  .topnavbar .navbar-nav > li > a,
  .topnavbar .navbar-nav > .open > a {
    color: #fff;
  }
  .topnavbar .navbar-nav > li > a:hover,
  .topnavbar .navbar-nav > .open > a:hover,
  .topnavbar .navbar-nav > li > a:focus,
  .topnavbar .navbar-nav > .open > a:focus {
    color: #cccccc;
  }
  .topnavbar .navbar-nav > li > [data-toggle='navbar-search'] {
    position: static;
  }
  .nav-wrapper {
    position: relative;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.26);
    z-index: 10;
  }
  .nav-wrapper:before,
  .nav-wrapper:after {
    content: " ";
    display: table;
  }
  .nav-wrapper:after {
    clear: both;
  }
  .nav-wrapper .nav > li {
    position: relative;
  }
  .nav-wrapper .navbar-nav .open .dropdown-menu {
    left: auto;
    right: auto;
  }
  .nav-wrapper .navbar-nav.navbar-right .open .dropdown-menu {
    left: auto;
    right: 0;
  }
}
@media only screen and (min-width: 768px) {
  .aside-collapsed .topnavbar .navbar-header .brand-logo {
    display: none;
  }
  .aside-collapsed .topnavbar .navbar-header .brand-logo-collapsed {
    display: block;
  }
  .aside-collapsed .topnavbar .navbar-header {
    width: 70px;
  }
  .aside-collapsed .topnavbar .navbar-form {
    left: 70px;
  }
}
/* ========================================================================
   Component: sidebar.less
 ========================================================================== */
.sidebar {
  height: 100%;
  padding-bottom: 20px;
  background-color: white;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
.sidebar:after {
  content: "";
  background: rgba(0, 0, 0, 0.15);
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  right: 0;
  width: 1px;
  -webkit-transform: translateZ(0px);
}
.sidebar .nav-heading {
  padding: 12px 15px;
  color: #919DA8;
  font-size: 13px;
  letter-spacing: .035em;
  pointer-events: none;
  cursor: default;
}
.sidebar > .nav {
  position: relative;
}
.sidebar > .nav > .nav-heading:first-child {
  padding-top: 20px;
}
.sidebar > .nav > li {
  width: 100%;
  line-height: 1.52857143;
  border-left: 3px solid transparent;
  -webkit-transition: border-left-color 0.4s ease;
  -o-transition: border-left-color 0.4s ease;
  transition: border-left-color 0.4s ease;
}
.sidebar > .nav > li > a,
.sidebar > .nav > li > .nav-item {
  padding: 12px 24px;
  color: #515253;
  letter-spacing: .025em;
  font-weight: normal;
  cursor: pointer;
}
.sidebar > .nav > li > a:focus,
.sidebar > .nav > li > .nav-item:focus,
.sidebar > .nav > li > a:hover,
.sidebar > .nav > li > .nav-item:hover {
  text-decoration: none;
  outline: none;
  color: #069169;
}
.sidebar > .nav > li > a > em,
.sidebar > .nav > li > .nav-item > em {
  width: 2em;
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  color: inherits;
}
.sidebar > .nav > li.active,
.sidebar > .nav > li.open,
.sidebar > .nav > li.active > a,
.sidebar > .nav > li.open > a,
.sidebar > .nav > li.active > .nav-item,
.sidebar > .nav > li.open > .nav-item,
.sidebar > .nav > li.active .nav,
.sidebar > .nav > li.open .nav {
  background-color: #fcfcfc;
  color: #069169;
}
.sidebar > .nav > li.active > .nav-item > em,
.sidebar > .nav > li.open > .nav-item > em,
.sidebar > .nav > li.active > a > em,
.sidebar > .nav > li.open > a > em {
  color: #069169;
}
.sidebar > .nav > li.active {
  border-left-color: #069169;
}
.sidebar > .nav .label {
  display: block;
}
@media only screen and (min-width: 1025px) {
  .sidebar:not(.show-scrollbar) {
    margin-right: -17px;
    overflow-y: scroll;
  }
}
.sidebar-subnav {
  background-color: white;
}
.sidebar-subnav > .sidebar-subnav-header {
  color: #515253;
  display: none;
  padding: 10px 20px;
  font-weight: bold;
}
.sidebar-subnav > li {
  border-left: 0 !important;
}
.sidebar-subnav > li > a,
.sidebar-subnav > li > .nav-item {
  display: block;
  position: relative;
  padding: 10px 20px;
  padding-left: 53px;
  font-weight: normal;
  background-color: transparent !important;
  color: #515253;
}
.sidebar-subnav > li > a:focus,
.sidebar-subnav > li > .nav-item:focus,
.sidebar-subnav > li > a:hover,
.sidebar-subnav > li > .nav-item:hover {
  color: #069169;
}
.sidebar-subnav > li > a > em,
.sidebar-subnav > li > .nav-item > em {
  display: inline-block;
  width: 2em;
  margin: 0 0 0 -2em;
}
.sidebar-subnav > li.active > a,
.sidebar-subnav > li.active > .nav-item {
  color: #069169;
}
.sidebar-subnav > li.active > a:after,
.sidebar-subnav > li.active > .nav-item:after {
  border-color: #069169;
  background-color: #069169;
}
.sidebar-subnav > li .nav > li {
  padding-left: 5px;
}
.sidebar-subnav.nav-floating {
  border: 1px solid rgba(0, 0, 0, 0.15);
  margin-left: -1px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
}
.sidebar-subnav.nav-floating,
.sidebar-subnav.nav-floating .collapse {
  height: auto !important;
  display: block !important;
  visibility: visible !important;
}
.sidebar-subnav.nav-floating > .sidebar-subnav-header {
  display: block;
}
.sidebar-subnav.nav-floating li > a,
.sidebar-subnav.nav-floating li > .nav-item {
  padding-left: 20px;
}
.sidebar-subnav.nav-floating li > a em,
.sidebar-subnav.nav-floating li > .nav-item em {
  margin-left: 0;
}
@media only screen and (min-width: 768px) {
  .sidebar > .nav .label {
    margin: 2px 0 0 0;
  }
}
.aside-collapsed .sidebar {
  overflow-x: hidden;
}
.aside-collapsed .sidebar > .nav .nav,
.aside-collapsed .sidebar > .nav > .nav-heading,
.aside-collapsed .sidebar > .nav > li > .nav-item > span,
.aside-collapsed .sidebar > .nav > li > a > span {
  display: none !important;
}
.aside-collapsed .sidebar > .nav > li {
  width: 68px;
}
.aside-collapsed .sidebar > .nav > li > a,
.aside-collapsed .sidebar > .nav > li > .nav-item {
  text-indent: -3px;
  padding: 20px 0;
  text-align: center;
}
.aside-collapsed .sidebar > .nav > li > a > em,
.aside-collapsed .sidebar > .nav > li > .nav-item > em {
  font-size: 1.6em;
  width: auto;
}
.aside-collapsed .sidebar > .nav > li > a:focus,
.aside-collapsed .sidebar > .nav > li > .nav-item:focus {
  background-color: transparent;
}
.aside-collapsed .sidebar > .nav > li > a:focus > em,
.aside-collapsed .sidebar > .nav > li > .nav-item:focus > em {
  color: inherit;
}
.aside-collapsed .sidebar .nav .label {
  position: absolute;
  top: 10px;
  right: 5px;
  text-indent: 0;
}
/*
  Google material colors
 */
.bg-red-50 {
  background-color: #FFEBEE;
}
.bg-red-100 {
  background-color: #FFCDD2;
}
.bg-red-200 {
  background-color: #EF9A9A;
}
.bg-red-300 {
  background-color: #E57373;
}
.bg-red-400 {
  background-color: #EF5350;
}
.bg-red-500 {
  background-color: #F44336;
}
.bg-red-600 {
  background-color: #E53935;
}
.bg-red-700 {
  background-color: #D32F2F;
}
.bg-red-800 {
  background-color: #C62828;
}
.bg-red-900 {
  background-color: #B71C1C;
}
.bg-red-A100 {
  background-color: #FF8A80;
}
.bg-red-A200 {
  background-color: #FF5252;
}
.bg-red-A400 {
  background-color: #FF1744;
}
.bg-red-A700 {
  background-color: #D50000;
}
.bg-pink-50 {
  background-color: #FCE4EC;
}
.bg-pink-100 {
  background-color: #F8BBD0;
}
.bg-pink-200 {
  background-color: #F48FB1;
}
.bg-pink-300 {
  background-color: #F06292;
}
.bg-pink-400 {
  background-color: #EC407A;
}
.bg-pink-500 {
  background-color: #E91E63;
}
.bg-pink-600 {
  background-color: #D81B60;
}
.bg-pink-700 {
  background-color: #C2185B;
}
.bg-pink-800 {
  background-color: #AD1457;
}
.bg-pink-900 {
  background-color: #880E4F;
}
.bg-pink-A100 {
  background-color: #FF80AB;
}
.bg-pink-A200 {
  background-color: #FF4081;
}
.bg-pink-A400 {
  background-color: #F50057;
}
.bg-pink-A700 {
  background-color: #C51162;
}
.bg-purple-50 {
  background-color: #F3E5F5;
}
.bg-purple-100 {
  background-color: #E1BEE7;
}
.bg-purple-200 {
  background-color: #CE93D8;
}
.bg-purple-300 {
  background-color: #BA68C8;
}
.bg-purple-400 {
  background-color: #AB47BC;
}
.bg-purple-500 {
  background-color: #9C27B0;
}
.bg-purple-600 {
  background-color: #8E24AA;
}
.bg-purple-700 {
  background-color: #7B1FA2;
}
.bg-purple-800 {
  background-color: #6A1B9A;
}
.bg-purple-900 {
  background-color: #4A148C;
}
.bg-purple-A100 {
  background-color: #EA80FC;
}
.bg-purple-A200 {
  background-color: #E040FB;
}
.bg-purple-A400 {
  background-color: #D500F9;
}
.bg-purple-A700 {
  background-color: #AA00FF;
}
.bg-deep-purple-50 {
  background-color: #EDE7F6;
}
.bg-deep-purple-100 {
  background-color: #D1C4E9;
}
.bg-deep-purple-200 {
  background-color: #B39DDB;
}
.bg-deep-purple-300 {
  background-color: #9575CD;
}
.bg-deep-purple-400 {
  background-color: #7E57C2;
}
.bg-deep-purple-500 {
  background-color: #673AB7;
}
.bg-deep-purple-600 {
  background-color: #5E35B1;
}
.bg-deep-purple-700 {
  background-color: #512DA8;
}
.bg-deep-purple-800 {
  background-color: #4527A0;
}
.bg-deep-purple-900 {
  background-color: #311B92;
}
.bg-deep-purple-A100 {
  background-color: #B388FF;
}
.bg-deep-purple-A200 {
  background-color: #7C4DFF;
}
.bg-deep-purple-A400 {
  background-color: #651FFF;
}
.bg-deep-purple-A700 {
  background-color: #6200EA;
}
.bg-indigo-50 {
  background-color: #E8EAF6;
}
.bg-indigo-100 {
  background-color: #C5CAE9;
}
.bg-indigo-200 {
  background-color: #9FA8DA;
}
.bg-indigo-300 {
  background-color: #7986CB;
}
.bg-indigo-400 {
  background-color: #5C6BC0;
}
.bg-indigo-500 {
  background-color: #3F51B5;
}
.bg-indigo-600 {
  background-color: #3949AB;
}
.bg-indigo-700 {
  background-color: #303F9F;
}
.bg-indigo-800 {
  background-color: #283593;
}
.bg-indigo-900 {
  background-color: #1A237E;
}
.bg-indigo-A100 {
  background-color: #8C9EFF;
}
.bg-indigo-A200 {
  background-color: #536DFE;
}
.bg-indigo-A400 {
  background-color: #3D5AFE;
}
.bg-indigo-A700 {
  background-color: #304FFE;
}
.bg-blue-50 {
  background-color: #E3F2FD;
}
.bg-blue-100 {
  background-color: #BBDEFB;
}
.bg-blue-200 {
  background-color: #90CAF9;
}
.bg-blue-300 {
  background-color: #64B5F6;
}
.bg-blue-400 {
  background-color: #42A5F5;
}
.bg-blue-500 {
  background-color: #2196F3;
}
.bg-blue-600 {
  background-color: #1E88E5;
}
.bg-blue-700 {
  background-color: #1976D2;
}
.bg-blue-800 {
  background-color: #1565C0;
}
.bg-blue-900 {
  background-color: #0D47A1;
}
.bg-blue-A100 {
  background-color: #82B1FF;
}
.bg-blue-A200 {
  background-color: #448AFF;
}
.bg-blue-A400 {
  background-color: #2979FF;
}
.bg-blue-A700 {
  background-color: #2962FF;
}
.bg-light-blue-50 {
  background-color: #E1F5FE;
}
.bg-light-blue-100 {
  background-color: #B3E5FC;
}
.bg-light-blue-200 {
  background-color: #81D4FA;
}
.bg-light-blue-300 {
  background-color: #4FC3F7;
}
.bg-light-blue-400 {
  background-color: #29B6F6;
}
.bg-light-blue-500 {
  background-color: #03A9F4;
}
.bg-light-blue-600 {
  background-color: #039BE5;
}
.bg-light-blue-700 {
  background-color: #0288D1;
}
.bg-light-blue-800 {
  background-color: #0277BD;
}
.bg-light-blue-900 {
  background-color: #01579B;
}
.bg-light-blue-A100 {
  background-color: #80D8FF;
}
.bg-light-blue-A200 {
  background-color: #40C4FF;
}
.bg-light-blue-A400 {
  background-color: #00B0FF;
}
.bg-light-blue-A700 {
  background-color: #0091EA;
}
.bg-cyan-50 {
  background-color: #E0F7FA;
}
.bg-cyan-100 {
  background-color: #B2EBF2;
}
.bg-cyan-200 {
  background-color: #80DEEA;
}
.bg-cyan-300 {
  background-color: #4DD0E1;
}
.bg-cyan-400 {
  background-color: #26C6DA;
}
.bg-cyan-500 {
  background-color: #00BCD4;
}
.bg-cyan-600 {
  background-color: #00ACC1;
}
.bg-cyan-700 {
  background-color: #0097A7;
}
.bg-cyan-800 {
  background-color: #00838F;
}
.bg-cyan-900 {
  background-color: #006064;
}
.bg-cyan-A100 {
  background-color: #84FFFF;
}
.bg-cyan-A200 {
  background-color: #18FFFF;
}
.bg-cyan-A400 {
  background-color: #00E5FF;
}
.bg-cyan-A700 {
  background-color: #00B8D4;
}
.bg-teal-50 {
  background-color: #E0F2F1;
}
.bg-teal-100 {
  background-color: #B2DFDB;
}
.bg-teal-200 {
  background-color: #80CBC4;
}
.bg-teal-300 {
  background-color: #4DB6AC;
}
.bg-teal-400 {
  background-color: #26A69A;
}
.bg-teal-500 {
  background-color: #009688;
}
.bg-teal-600 {
  background-color: #00897B;
}
.bg-teal-700 {
  background-color: #00796B;
}
.bg-teal-800 {
  background-color: #00695C;
}
.bg-teal-900 {
  background-color: #004D40;
}
.bg-teal-A100 {
  background-color: #A7FFEB;
}
.bg-teal-A200 {
  background-color: #64FFDA;
}
.bg-teal-A400 {
  background-color: #1DE9B6;
}
.bg-teal-A700 {
  background-color: #00BFA5;
}
.bg-green-50 {
  background-color: #E8F5E9;
}
.bg-green-100 {
  background-color: #C8E6C9;
}
.bg-green-200 {
  background-color: #A5D6A7;
}
.bg-green-300 {
  background-color: #81C784;
}
.bg-green-400 {
  background-color: #66BB6A;
}
.bg-green-500 {
  background-color: #4CAF50;
}
.bg-green-600 {
  background-color: #43A047;
}
.bg-green-700 {
  background-color: #388E3C;
}
.bg-green-800 {
  background-color: #2E7D32;
}
.bg-green-900 {
  background-color: #1B5E20;
}
.bg-green-A100 {
  background-color: #B9F6CA;
}
.bg-green-A200 {
  background-color: #69F0AE;
}
.bg-green-A400 {
  background-color: #00E676;
}
.bg-green-A700 {
  background-color: #00C853;
}
.bg-light-green-50 {
  background-color: #F1F8E9;
}
.bg-light-green-100 {
  background-color: #DCEDC8;
}
.bg-light-green-200 {
  background-color: #C5E1A5;
}
.bg-light-green-300 {
  background-color: #AED581;
}
.bg-light-green-400 {
  background-color: #9CCC65;
}
.bg-light-green-500 {
  background-color: #8BC34A;
}
.bg-light-green-600 {
  background-color: #7CB342;
}
.bg-light-green-700 {
  background-color: #689F38;
}
.bg-light-green-800 {
  background-color: #558B2F;
}
.bg-light-green-900 {
  background-color: #33691E;
}
.bg-light-green-A100 {
  background-color: #CCFF90;
}
.bg-light-green-A200 {
  background-color: #B2FF59;
}
.bg-light-green-A400 {
  background-color: #76FF03;
}
.bg-light-green-A700 {
  background-color: #64DD17;
}
.bg-lime-50 {
  background-color: #F9FBE7;
}
.bg-lime-100 {
  background-color: #F0F4C3;
}
.bg-lime-200 {
  background-color: #E6EE9C;
}
.bg-lime-300 {
  background-color: #DCE775;
}
.bg-lime-400 {
  background-color: #D4E157;
}
.bg-lime-500 {
  background-color: #CDDC39;
}
.bg-lime-600 {
  background-color: #C0CA33;
}
.bg-lime-700 {
  background-color: #AFB42B;
}
.bg-lime-800 {
  background-color: #9E9D24;
}
.bg-lime-900 {
  background-color: #827717;
}
.bg-lime-A100 {
  background-color: #F4FF81;
}
.bg-lime-A200 {
  background-color: #EEFF41;
}
.bg-lime-A400 {
  background-color: #C6FF00;
}
.bg-lime-A700 {
  background-color: #AEEA00;
}
.bg-yellow-50 {
  background-color: #FFFDE7;
}
.bg-yellow-100 {
  background-color: #FFF9C4;
}
.bg-yellow-200 {
  background-color: #FFF59D;
}
.bg-yellow-300 {
  background-color: #FFF176;
}
.bg-yellow-400 {
  background-color: #FFEE58;
}
.bg-yellow-500 {
  background-color: #FFEB3B;
}
.bg-yellow-600 {
  background-color: #FDD835;
}
.bg-yellow-700 {
  background-color: #FBC02D;
}
.bg-yellow-800 {
  background-color: #F9A825;
}
.bg-yellow-900 {
  background-color: #F57F17;
}
.bg-yellow-A100 {
  background-color: #FFFF8D;
}
.bg-yellow-A200 {
  background-color: #FFFF00;
}
.bg-yellow-A400 {
  background-color: #FFEA00;
}
.bg-yellow-A700 {
  background-color: #FFD600;
}
.bg-amber-50 {
  background-color: #FFF8E1;
}
.bg-amber-100 {
  background-color: #FFECB3;
}
.bg-amber-200 {
  background-color: #FFE082;
}
.bg-amber-300 {
  background-color: #FFD54F;
}
.bg-amber-400 {
  background-color: #FFCA28;
}
.bg-amber-500 {
  background-color: #FFC107;
}
.bg-amber-600 {
  background-color: #FFB300;
}
.bg-amber-700 {
  background-color: #FFA000;
}
.bg-amber-800 {
  background-color: #FF8F00;
}
.bg-amber-900 {
  background-color: #FF6F00;
}
.bg-amber-A100 {
  background-color: #FFE57F;
}
.bg-amber-A200 {
  background-color: #FFD740;
}
.bg-amber-A400 {
  background-color: #FFC400;
}
.bg-amber-A700 {
  background-color: #FFAB00;
}
.bg-orange-50 {
  background-color: #FFF3E0;
}
.bg-orange-100 {
  background-color: #FFE0B2;
}
.bg-orange-200 {
  background-color: #FFCC80;
}
.bg-orange-300 {
  background-color: #FFB74D;
}
.bg-orange-400 {
  background-color: #FFA726;
}
.bg-orange-500 {
  background-color: #FF9800;
}
.bg-orange-600 {
  background-color: #FB8C00;
}
.bg-orange-700 {
  background-color: #F57C00;
}
.bg-orange-800 {
  background-color: #EF6C00;
}
.bg-orange-900 {
  background-color: #E65100;
}
.bg-orange-A100 {
  background-color: #FFD180;
}
.bg-orange-A200 {
  background-color: #FFAB40;
}
.bg-orange-A400 {
  background-color: #FF9100;
}
.bg-orange-A700 {
  background-color: #FF6D00;
}
.bg-deep-orange-50 {
  background-color: #FBE9E7;
}
.bg-deep-orange-100 {
  background-color: #FFCCBC;
}
.bg-deep-orange-200 {
  background-color: #FFAB91;
}
.bg-deep-orange-300 {
  background-color: #FF8A65;
}
.bg-deep-orange-400 {
  background-color: #FF7043;
}
.bg-deep-orange-500 {
  background-color: #FF5722;
}
.bg-deep-orange-600 {
  background-color: #F4511E;
}
.bg-deep-orange-700 {
  background-color: #E64A19;
}
.bg-deep-orange-800 {
  background-color: #D84315;
}
.bg-deep-orange-900 {
  background-color: #BF360C;
}
.bg-deep-orange-A100 {
  background-color: #FF9E80;
}
.bg-deep-orange-A200 {
  background-color: #FF6E40;
}
.bg-deep-orange-A400 {
  background-color: #FF3D00;
}
.bg-deep-orange-A700 {
  background-color: #DD2C00;
}
.bg-brown-50 {
  background-color: #EFEBE9;
}
.bg-brown-100 {
  background-color: #D7CCC8;
}
.bg-brown-200 {
  background-color: #BCAAA4;
}
.bg-brown-300 {
  background-color: #A1887F;
}
.bg-brown-400 {
  background-color: #8D6E63;
}
.bg-brown-500 {
  background-color: #795548;
}
.bg-brown-600 {
  background-color: #6D4C41;
}
.bg-brown-700 {
  background-color: #5D4037;
}
.bg-brown-800 {
  background-color: #4E342E;
}
.bg-brown-900 {
  background-color: #3E2723;
}
.bg-grey-50 {
  background-color: #FAFAFA;
}
.bg-grey-100 {
  background-color: #F5F5F5;
}
.bg-grey-200 {
  background-color: #EEEEEE;
}
.bg-grey-300 {
  background-color: #E0E0E0;
}
.bg-grey-400 {
  background-color: #BDBDBD;
}
.bg-grey-500 {
  background-color: #9E9E9E;
}
.bg-grey-600 {
  background-color: #757575;
}
.bg-grey-700 {
  background-color: #616161;
}
.bg-grey-800 {
  background-color: #424242;
}
.bg-grey-900 {
  background-color: #212121;
}
.bg-blue-grey-50 {
  background-color: #ECEFF1;
}
.bg-blue-grey-100 {
  background-color: #CFD8DC;
}
.bg-blue-grey-200 {
  background-color: #B0BEC5;
}
.bg-blue-grey-300 {
  background-color: #90A4AE;
}
.bg-blue-grey-400 {
  background-color: #78909C;
}
.bg-blue-grey-500 {
  background-color: #607D8B;
}
.bg-blue-grey-600 {
  background-color: #546E7A;
}
.bg-blue-grey-700 {
  background-color: #455A64;
}
.bg-blue-grey-800 {
  background-color: #37474F;
}
.bg-blue-grey-900 {
  background-color: #263238;
}
.bg-red-800,
.bg-red-900,
.bg-pink-700,
.bg-pink-800,
.bg-pink-900,
.bg-purple,
.bg-purple-500,
.bg-purple-600,
.bg-purple-700,
.bg-purple-800,
.bg-purple-900,
.bg-deep-purple,
.bg-deep-purple-500,
.bg-deep-purple-600,
.bg-deep-purple-700,
.bg-deep-purple-800,
.bg-deep-purple-900,
.bg-deep-purple-A400,
.bg-deep-purple-A700,
.bg-indigo,
.bg-indigo-500,
.bg-indigo-600,
.bg-indigo-700,
.bg-indigo-800,
.bg-indigo-900,
.bg-indigo-A700,
.bg-blue-800,
.bg-blue-900,
.bg-light-blue-900,
.bg-cyan-900,
.bg-teal-800,
.bg-teal-900,
.bg-green-800,
.bg-green-900,
.bg-brown,
.bg-brown-500,
.bg-brown-600,
.bg-brown-700,
.bg-brown-800,
.bg-brown-900,
.bg-blue-grey-600,
.bg-blue-grey-700,
.bg-blue-grey-800,
.bg-blue-grey-900,
.bg-grey-600,
.bg-grey-700,
.bg-grey-800,
.bg-grey-900 {
  color: rgba(255, 255, 255, 0.87);
}
.bg-red,
.bg-red-500,
.bg-red-600,
.bg-red-700,
.bg-red-A200,
.bg-red-A400,
.bg-red-A700,
.bg-pink,
.bg-pink-500,
.bg-pink-600,
.bg-pink-A200,
.bg-pink-A400,
.bg-pink-A700,
.bg-purple-300,
.bg-purple-400,
.bg-purple-A200,
.bg-purple-A400,
.bg-purple-A700,
.bg-deep-purple-300,
.bg-deep-purple-400,
.bg-deep-purple-A200,
.bg-indigo-300,
.bg-indigo-400,
.bg-indigo-A200,
.bg-indigo-A400,
.bg-blue,
.bg-blue-500,
.bg-blue-600,
.bg-blue-700,
.bg-blue-A200,
.bg-blue-A400,
.bg-blue-A700,
.bg-light-blue,
.bg-light-blue-500,
.bg-light-blue-600,
.bg-light-blue-700,
.bg-light-blue-800,
.bg-light-blue-A700,
.bg-cyan,
.bg-cyan-500,
.bg-cyan-600,
.bg-cyan-700,
.bg-cyan-800,
.bg-teal,
.bg-teal-500,
.bg-teal-600,
.bg-teal-700,
.bg-green,
.bg-green-500,
.bg-green-600,
.bg-green-700,
.bg-light-green-800,
.bg-light-green-900,
.bg-lime-900,
.bg-orange-800,
.bg-orange-900,
.bg-deep-orange,
.bg-deep-orange-500,
.bg-deep-orange-600,
.bg-deep-orange-700,
.bg-deep-orange-800,
.bg-deep-orange-900,
.bg-deep-orange-A400,
.bg-deep-orange-A700,
.bg-brown-300,
.bg-brown-400,
.bg-blue-grey,
.bg-blue-grey-400,
.bg-blue-grey-500 {
  color: #fff;
}
/* ========================================================================
   Component: utils.less
 ========================================================================== */
.m0 {
  margin: 0 !important;
}
.ml0 {
  margin-left: 0 !important;
}
.mr0 {
  margin-right: 0 !important;
}
.mt0 {
  margin-top: 0 !important;
}
.mb0 {
  margin-bottom: 0 !important;
}
.m {
  margin: 10px !important;
}
.ml {
  margin-left: 10px !important;
}
.mr {
  margin-right: 10px !important;
}
.mt {
  margin-top: 10px !important;
}
.mb {
  margin-bottom: 10px !important;
}
.m-sm {
  margin: 5px !important;
}
.ml-sm {
  margin-left: 5px !important;
}
.mr-sm {
  margin-right: 5px !important;
}
.mt-sm {
  margin-top: 5px !important;
}
.mb-sm {
  margin-bottom: 5px !important;
}
.m-lg {
  margin: 15px !important;
}
.ml-lg {
  margin-left: 15px !important;
}
.mr-lg {
  margin-right: 15px !important;
}
.mt-lg {
  margin-top: 15px !important;
}
.mb-lg {
  margin-bottom: 15px !important;
}
.m-xl {
  margin: 30px !important;
}
.ml-xl {
  margin-left: 30px !important;
}
.mr-xl {
  margin-right: 30px !important;
}
.mt-xl {
  margin-top: 30px !important;
}
.mb-xl {
  margin-bottom: 30px !important;
}
.mv {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.mh {
  margin-left: 10px !important;
  margin-right: 10px !important;
}
.mv-lg {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}
.mh-lg {
  margin-left: 15px !important;
  margin-right: 15px !important;
}
.mv-sm {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
.mh-sm {
  margin-left: 5px !important;
  margin-right: 5px !important;
}
.p0 {
  padding: 0 !important;
}
.pl0 {
  padding-left: 0 !important;
}
.pr0 {
  padding-right: 0 !important;
}
.pt0 {
  padding-top: 0 !important;
}
.pb0 {
  padding-bottom: 0 !important;
}
.pv0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.ph0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.p {
  padding: 10px !important;
}
.pl {
  padding-left: 10px !important;
}
.pr {
  padding-right: 10px !important;
}
.pt {
  padding-top: 10px !important;
}
.pb {
  padding-bottom: 10px !important;
}
.p-sm {
  padding: 5px !important;
}
.pl-sm {
  padding-left: 5px !important;
}
.pr-sm {
  padding-right: 5px !important;
}
.pt-sm {
  padding-top: 5px !important;
}
.pb-sm {
  padding-bottom: 5px !important;
}
.p-lg {
  padding: 15px !important;
}
.pl-lg {
  padding-left: 15px !important;
}
.pr-lg {
  padding-right: 15px !important;
}
.pt-lg {
  padding-top: 15px !important;
}
.pb-lg {
  padding-bottom: 15px !important;
}
.p-xl {
  padding: 30px !important;
}
.pl-xl {
  padding-left: 30px !important;
}
.pr-xl {
  padding-right: 30px !important;
}
.pt-xl {
  padding-top: 30px !important;
}
.pb-xl {
  padding-bottom: 30px !important;
}
.pv {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.ph {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.pv-xl {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}
.ph-xl {
  padding-left: 30px !important;
  padding-right: 30px !important;
}
.pv-lg {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}
.ph-lg {
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.pv-sm {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.ph-sm {
  padding-left: 5px !important;
  padding-right: 5px !important;
}
.b0 {
  border-width: 0 !important;
}
.bl0 {
  border-left-width: 0 !important;
}
.br0 {
  border-right-width: 0 !important;
}
.bt0 {
  border-top-width: 0 !important;
}
.bb0 {
  border-bottom-width: 0 !important;
}
.br {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}
.bl {
  border-left: 1px solid rgba(0, 0, 0, 0.12);
}
.bt {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}
.bb {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.b,
.ba {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  border-left: 1px solid rgba(0, 0, 0, 0.12);
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.radius-clear {
  border-radius: 0 !important;
}
.shadow-clear {
  box-shadow: 0 0 0 #000 !important;
}
.text-white {
  color: #fff;
}
.text-inverse {
  color: #263238;
}
.text-alpha {
  color: rgba(255, 255, 255, 0.5);
}
.text-pink {
  color: #E91E63;
}
.text-purple {
  color: #673AB7;
}
.text-dark {
  color: #607D8B;
}
.text-alpha-inverse {
  color: rgba(0, 0, 0, 0.5);
}
.text-green {
  color: #009688;
}
.text-yellow {
  color: #fbee2b;
}
.text-gray-darker {
  color: #232735;
}
.text-gray-dark {
  color: #3a3f51;
}
.text-gray {
  color: #dde6e9;
}
.text-gray-light {
  color: #e4eaec;
}
.text-gray-lighter {
  color: #edf1f2;
}
.text-inherit {
  color: inherit;
}
.text-accend {
  color: #004185 !important;
}
.text-xs {
  font-size: 10.2px;
}
.text-sm {
  font-size: 14.4px;
}
.text-md {
  font-size: 22.8px;
}
.text-lg {
  font-size: 36px;
}
.text-nowrap {
  white-space: nowrap;
}
.text-thin {
  font-weight: 100 !important;
}
.text-normal {
  font-weight: normal !important;
}
.text-bold {
  font-weight: bold !important;
}
.inline {
  display: inline-block !important;
}
.block-center {
  margin: 0 auto;
}
.bg-primary {
  background-color: #3F51B5;
  color: #fff !important;
}
.bg-primary-light {
  background-color: #606fc7;
  color: #fff !important;
}
.bg-primary-dark {
  background-color: #32408f;
  color: #fff !important;
}
.bg-primary small {
  color: inherit;
}
.bg-success {
  background-color: #4CAF50;
  color: #fff !important;
}
.bg-success-light {
  background-color: #6ec071;
  color: #fff !important;
}
.bg-success-dark {
  background-color: #3d8b40;
  color: #fff !important;
}
.bg-success small {
  color: inherit;
}
.bg-info {
  background-color: #2196F3;
  color: #fff !important;
}
.bg-info-light {
  background-color: #51adf6;
  color: #fff !important;
}
.bg-info-dark {
  background-color: #0c7cd5;
  color: #fff !important;
}
.bg-info small {
  color: inherit;
}
.bg-warning {
  background-color: #FF9800;
  color: #fff !important;
}
.bg-warning-light {
  background-color: #ffad33;
  color: #fff !important;
}
.bg-warning-dark {
  background-color: #cc7a00;
  color: #fff !important;
}
.bg-warning small {
  color: inherit;
}
.bg-danger {
  background-color: #F44336;
  color: #fff !important;
}
.bg-danger-light {
  background-color: #f77066;
  color: #fff !important;
}
.bg-danger-dark {
  background-color: #ea1c0d;
  color: #fff !important;
}
.bg-danger small {
  color: inherit;
}
.bg-green {
  background-color: #009688;
  color: #fff !important;
}
.bg-green-light {
  background-color: #00c9b6;
  color: #fff !important;
}
.bg-green-dark {
  background-color: #00635a;
  color: #fff !important;
}
.bg-green small {
  color: inherit;
}
.bg-pink {
  background-color: #E91E63;
  color: #fff !important;
}
.bg-pink-light {
  background-color: #ee4c83;
  color: #fff !important;
}
.bg-pink-dark {
  background-color: #c1134e;
  color: #fff !important;
}
.bg-pink small {
  color: inherit;
}
.bg-purple {
  background-color: #673AB7;
  color: #fff !important;
}
.bg-purple-light {
  background-color: #8259cb;
  color: #fff !important;
}
.bg-purple-dark {
  background-color: #512e90;
  color: #fff !important;
}
.bg-purple small {
  color: inherit;
}
.bg-inverse {
  background-color: #263238;
  color: #fff !important;
}
.bg-inverse-light {
  background-color: #3b4d56;
  color: #fff !important;
}
.bg-inverse-dark {
  background-color: #11171a;
  color: #fff !important;
}
.bg-inverse small {
  color: inherit;
}
.bg-yellow {
  background-color: #fbee2b;
  color: #fff !important;
}
.bg-yellow-light {
  background-color: #fcf25d;
  color: #fff !important;
}
.bg-yellow-dark {
  background-color: #efe004;
  color: #fff !important;
}
.bg-yellow small {
  color: inherit;
}
.bg-white {
  background-color: #fff;
  color: inherit !important;
}
.bg-gray-darker {
  background-color: #232735;
  color: #fff !important;
}
.bg-gray-dark {
  background-color: #3a3f51;
  color: #fff !important;
}
.bg-gray {
  background-color: #dde6e9;
  color: #656565 !important;
}
.bg-gray-light {
  background-color: #e4eaec;
  color: #656565 !important;
}
.bg-gray-lighter {
  background-color: #edf1f2;
  color: #656565 !important;
}
.bg-transparent {
  background-color: transparent !important;
}
.bg-cover {
  background-size: cover;
}
.thumb8 {
  width: 8px !important;
  height: 8px !important;
}
.thumb16 {
  width: 16px !important;
  height: 16px !important;
}
.thumb24 {
  width: 24px !important;
  height: 24px !important;
}
.thumb32 {
  width: 32px !important;
  height: 32px !important;
}
.thumb48 {
  width: 48px !important;
  height: 48px !important;
}
.thumb64 {
  width: 64px !important;
  height: 64px !important;
}
.thumb80 {
  width: 80px !important;
  height: 80px !important;
}
.thumb96 {
  width: 96px !important;
  height: 96px !important;
}
.thumb128 {
  width: 128px !important;
  height: 128px !important;
}
.align-middle {
  vertical-align: middle;
}
.align-top {
  vertical-align: top;
}
.align-bottom {
  vertical-align: bottom;
}
.bg-center {
  background-position: center center;
  background-size: cover;
}
.list-icon em {
  font-size: 14px;
  width: 40px;
  vertical-align: middle;
  margin: 0;
  display: inline-block;
  text-align: center;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  line-height: 30px;
}
.list-icon div:hover em {
  -webkit-transform: scale(3, 3);
  -ms-transform: scale(3, 3);
  -o-transform: scale(3, 3);
  transform: scale(3, 3);
}
.wd-xxs {
  width: 60px;
}
.wd-xs {
  width: 90px;
}
.wd-sm {
  width: 150px;
}
.wd-sd {
  width: 200px;
}
.wd-md {
  width: 240px;
}
.wd-lg {
  width: 280px;
}
.wd-xl {
  width: 320px;
}
.wd-xxl {
  width: 360px;
}
.wd-wide {
  width: 100%;
}
.wd-auto {
  width: auto;
}
.wd-zero {
  width: 0;
}
.hd-xxs {
  height: 60px;
}
.hd-xs {
  height: 90px;
}
.hd-sm {
  height: 150px;
}
.hd-sd {
  height: 200px;
}
.hd-md {
  height: 240px;
}
.hd-lg {
  height: 280px;
}
.hd-xl {
  height: 320px;
}
.hd-xxl {
  height: 360px;
}
.hd-wide {
  height: 100%;
}
.hd-auto {
  height: auto;
}
.hd-zero {
  height: 0;
}
.mhd-xxs {
  min-height: 60px;
}
.mhd-xs {
  min-height: 90px;
}
.mhd-sm {
  min-height: 150px;
}
.mhd-sd {
  min-height: 200px;
}
.mhd-md {
  min-height: 240px;
}
.mhd-lg {
  min-height: 280px;
}
.mhd-xl {
  min-height: 320px;
}
.mhd-xxl {
  min-height: 360px;
}
.mhd-wide {
  min-height: 100%;
}
.mhd-auto {
  min-height: auto;
}
.mhd-zero {
  min-height: 0;
}
.label-inverse {
  background-color: #263238;
}
.label-inverse[href]:hover,
.label-inverse[href]:focus {
  background-color: #11171a;
}
.label-green {
  background-color: #009688;
}
.label-green[href]:hover,
.label-green[href]:focus {
  background-color: #00635a;
}
.label-pink {
  background-color: #E91E63;
}
.label-pink[href]:hover,
.label-pink[href]:focus {
  background-color: #c1134e;
}
.label-purple {
  background-color: #673AB7;
}
.label-purple[href]:hover,
.label-purple[href]:focus {
  background-color: #512e90;
}
.alert-purple {
  background-color: #673AB7;
  border-color: #673AB7;
  color: #fff;
}
.alert-purple hr {
  border-top-color: #5c34a4;
}
.alert-purple .alert-link {
  color: #e6e6e6;
}
.alert-green {
  background-color: #009688;
  border-color: #009688;
  color: #fff;
}
.alert-green hr {
  border-top-color: #007d71;
}
.alert-green .alert-link {
  color: #e6e6e6;
}
.alert-pink {
  background-color: #E91E63;
  border-color: #E91E63;
  color: #fff;
}
.alert-pink hr {
  border-top-color: #d81557;
}
.alert-pink .alert-link {
  color: #e6e6e6;
}
.alert-inverse {
  background-color: #263238;
  border-color: #263238;
  color: #fff;
}
.alert-inverse hr {
  border-top-color: #1c2429;
}
.alert-inverse .alert-link {
  color: #e6e6e6;
}
.clickable {
  cursor: pointer;
}
.abs-center-container {
  position: relative;
}
.abs-center {
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.abs-center.abs-fixed {
  position: fixed;
  z-index: 999;
}
.abs-center.abs-right {
  left: auto;
  right: 20px;
  text-align: right;
}
.abs-center.abs-left {
  right: auto;
  left: 20px;
  text-align: left;
}
@media (max-height: 720px) {
  .abs-center {
    position: relative;
  }
}
.link-unstyled {
  text-decoration: none !important;
  outline: none !important;
}
.no-resize {
  resize: none;
  max-width: 100%;
  min-width: 100%;
}
/** 
 * Displays hidden content on hover. Add this class to the parent element.
 * Markup
 *   <div class="hover-visible">
 *    <div class="hover-hidden"></div>
 *   </div>
 */
.hover-visible .hover-hidden {
  display: none;
}
.hover-visible:hover .hover-hidden {
  display: block;
}
.hover-visible:hover .hover-hidden-inline {
  display: inline-block;
}
.media-box,
.media-box-body {
  overflow: hidden;
  zoom: 1;
}
.media-box,
.media-box .media-box {
  margin-top: 15px;
}
.media-box:first-child {
  margin-top: 0;
}
.media-box-object {
  display: block;
}
.media-box-heading {
  margin: 0 0 5px;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.media-box > .pull-left {
  margin-right: 10px;
}
.media-box > .pull-right {
  margin-left: 10px;
}
.media-box-list {
  padding-left: 0;
  list-style: none;
}
.shadow-z0 {
  -webkit-box-shadow: 0 0 0 #000;
  box-shadow: 0 0 0 #000;
}
.shadow-z1 {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
}
.shadow-z2 {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.14), 0 4px 5px 0 rgba(0, 0, 0, 0.098), 0 1px 10px 0 rgba(0, 0, 0, 0.084);
}
.shadow-z3 {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.14), 0 6px 10px 0 rgba(0, 0, 0, 0.098), 0 1px 18px 0 rgba(0, 0, 0, 0.084);
}
.shadow-z4 {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.14), 0 8px 10px 1px rgba(0, 0, 0, 0.098), 0 3px 14px 2px rgba(0, 0, 0, 0.084);
}
.shadow-z5 {
  box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.14), 0 16px 24px 2px rgba(0, 0, 0, 0.098), 0 6px 30px 5px rgba(0, 0, 0, 0.084);
}
/* ========================================================================
   Component: layout
 ========================================================================== */
body,
.wrapper > section {
  background-color: #f5f7fa;
}
.wrapper .aside {
  background-color: white;
}
/* ========================================================================
   Component: top-navbar
 ========================================================================== */
.topnavbar {
  background-color: transparent;
  background-image: -webkit-linear-gradient(left, #069169 0%, #069169 100%);
  background-image: -o-linear-gradient(left, #069169 0%, #069169 100%);
  background-image: linear-gradient(to right, #069169 0%, #069169 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff069169', endColorstr='#ff069169', GradientType=1);
}
.topnavbar .navbar-header {
  background-color: transparent;
  background-image: -webkit-linear-gradient(left, #069169 0%, #069169 100%);
  background-image: -o-linear-gradient(left, #069169 0%, #069169 100%);
  background-image: linear-gradient(to right, #069169 0%, #069169 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff069169', endColorstr='#ff069169', GradientType=1);
}
@media only screen and (min-width: 768px) {
  .topnavbar .navbar-header {
    background-image: none;
  }
}
.topnavbar .navbar-nav > li > a,
.topnavbar .navbar-nav > .open > a {
  color: #069169;
}
.topnavbar .navbar-nav > li > a:hover,
.topnavbar .navbar-nav > .open > a:hover,
.topnavbar .navbar-nav > li > a:focus,
.topnavbar .navbar-nav > .open > a:focus {
  color: #022f22;
}
.topnavbar .navbar-nav > .active > a,
.topnavbar .navbar-nav > .open > a,
.topnavbar .navbar-nav > .active > a:hover,
.topnavbar .navbar-nav > .open > a:hover,
.topnavbar .navbar-nav > .active > a:focus,
.topnavbar .navbar-nav > .open > a:focus {
  background-color: transparent;
}
.topnavbar .navbar-nav > li > [data-toggle='navbar-search'] {
  color: #fff;
}
.topnavbar .nav-wrapper {
  background-color: #069169;
  background-image: -webkit-linear-gradient(left, #069169 0%, #069169 100%);
  background-image: -o-linear-gradient(left, #069169 0%, #069169 100%);
  background-image: linear-gradient(to right, #069169 0%, #069169 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff069169', endColorstr='#ff069169', GradientType=1);
}
@media only screen and (min-width: 768px) {
  .topnavbar {
    background-color: #069169;
    background-image: -webkit-linear-gradient(left, #069169 0%, #069169 100%);
    background-image: -o-linear-gradient(left, #069169 0%, #069169 100%);
    background-image: linear-gradient(to right, #069169 0%, #069169 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff069169', endColorstr='#ff069169', GradientType=1);
  }
  .topnavbar .navbar-nav > .open > a,
  .topnavbar .navbar-nav > .open > a:hover,
  .topnavbar .navbar-nav > .open > a:focus {
    box-shadow: 0 -3px 0 rgba(255, 255, 255, 0.5) inset;
  }
  .topnavbar .navbar-nav > li > a,
  .topnavbar .navbar-nav > .open > a {
    color: #fff;
  }
  .topnavbar .navbar-nav > li > a:hover,
  .topnavbar .navbar-nav > .open > a:hover,
  .topnavbar .navbar-nav > li > a:focus,
  .topnavbar .navbar-nav > .open > a:focus {
    color: #022f22;
  }
}
/* ========================================================================
   Component: sidebar
 ========================================================================== */
.sidebar {
  background-color: white;
}
.sidebar .nav-heading {
  color: #919DA8;
}
.sidebar .nav > li > a,
.sidebar .nav > li > .nav-item {
  color: #515253;
}
.sidebar .nav > li > a:focus,
.sidebar .nav > li > .nav-item:focus,
.sidebar .nav > li > a:hover,
.sidebar .nav > li > .nav-item:hover {
  color: #069169;
}
.sidebar .nav > li > a > em,
.sidebar .nav > li > .nav-item > em {
  color: inherits;
}
.sidebar .nav > li.active,
.sidebar .nav > li.open,
.sidebar .nav > li.active > a,
.sidebar .nav > li.open > a,
.sidebar .nav > li.active .nav,
.sidebar .nav > li.open .nav {
  background-color: #fcfcfc;
  color: #069169;
}
.sidebar .nav > li.active > a > em,
.sidebar .nav > li.open > a > em {
  color: #069169;
}
.sidebar .nav > li.active {
  border-left-color: #069169;
}
.sidebar-subnav {
  background-color: white;
}
.sidebar-subnav > .sidebar-subnav-header {
  color: #515253;
}
.sidebar-subnav > li > a,
.sidebar-subnav > li > .nav-item {
  color: #515253;
}
.sidebar-subnav > li > a:focus,
.sidebar-subnav > li > .nav-item:focus,
.sidebar-subnav > li > a:hover,
.sidebar-subnav > li > .nav-item:hover {
  color: #069169;
}
.sidebar-subnav > li.active > a,
.sidebar-subnav > li.active > .nav-item {
  color: #069169;
}
.sidebar-subnav > li.active > a:after,
.sidebar-subnav > li.active > .nav-item:after {
  border-color: #069169;
  background-color: #069169;
}
/* ========================================================================
   Component: offsidebar
 ========================================================================== */
.offsidebar {
  border-left: 1px solid #cccccc;
  background-color: #fff;
  color: #656565;
}
a:hover,
a:focus {
  color: white;
  text-decoration: none !important;
}
body {
  font-family: "Roboto", sans-serif;
}
