<div class="row">
    <form role="form" class="form-horizontal mb-lg col-md-12">
        <a class="btn btn-sm btn-primary" (click)="uploadFile()">
            <i class="fa fa-cloud-upload"></i>
            <span>Cargar</span>
        </a>
    </form>
</div>

<div class="row">
    <form class="form-horizontal col-md-8">



        <div class="form-group">
            <label class="col-md-1">Año</label>
            <div class="col-md-3">
                <select class="form-control" [(ngModel)]="anio" [ngModelOptions]="{standalone: true}" disabled>
            <option value="2017">2017</option>
            <option value="2018">2018</option>
            <option value="2018">2019</option>
           </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-1">Mes</label>
            <div class="col-md-3">
                <select class="form-control" [(ngModel)]="mes" required [ngModelOptions]="{standalone: true}">
                <option *ngFor="let m of meses" [ngValue]="m.id">{{m.name}}</option>
        </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-1">Semana </label>
            <div class="col-md-3">
                <select class="form-control" [(ngModel)]="semana" required [ngModelOptions]="{standalone: true}">
                  <option *ngFor="let s of semanas" [ngValue]="s.id">{{s.name}}</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="archivo" class="col-md-1">Archivo</label>
            <div class="col-md-6">
                <input type="file" class="form-control" ng2FileSelect [uploader]="uploader">
            </div>
        </div>

    </form>
</div>

<div class="row">
    <table class="highlight bordered responsive-table">
        <thead>
            <tr>
                <td *ngFor="let title of table_response.header">{{ title }}</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of table_response.body">
                <td *ngFor="let cell of item">{{ cell }}</td>
            </tr>
        </tbody>
    </table>
</div>