<div class="card">
    <div class="card-content mhd-lg ph-sm">
        <div class="card-title text-accend text-center">Ejecución Entidades</div>
        <div class="col-sm-12 text-center text-md lead" *ngIf="loading">
            <div class="p-xl mt-lg">
                <p class="text-center"><i class="fa fa-spinner fa-spin fa-2x"></i></p>
                Obteniendo Datos,<br> espere un momento...</div>
        </div>
        <div class="col-sm-12 text-center text-md lead" *ngIf="noSIIFLoader">
            <div class="p-xl mt-lg"> No ha sido cargado archivo SIIF para este período.</div>
        </div>
        <div class="col-sm-12 text-center text-md lead" *ngIf="noData">
            <div class="p-xl mt-lg"> No se encontraron datos.</div>
        </div>
        <div class="col-sm-12 text-center text-md lead" *ngIf="error">
            <div class="p-xl mt-lg">Ocurrió un error al intentar obtener los datos.</div>
        </div>
        <ul class="lead mb0" [hidden]="noSIIFLoader || loading || noData || error">
            <li class="pv-sm row" *ngFor="let entidad of data | orderBy : {property: 'percent', direction: 1 }; let i=index">

                <div class="col-xs-4" [ngClass]="entidad.class">
                <!--div class="col-xs-4" -->
                    <i class="fa fa-circle"></i>
                    <span>{{ entidad.percent | number : '1.0-1' | formatNumber }}%</span>
                </div>
                <div class="col-xs-8 text-left">
                    <span class="lead" (click)="goToProjects(entidad.uej)">{{ entidad.abreviacion }}</span>

                    <span class="text-primary p-sm right" (click)="goToSeguimiento(entidad.uej)">
                        <i class="fa fa-line-chart"></i>
                        <span class="text-xs">Grafica</span>
                    </span>

                    <span class="p-sm right" (click)="goToProjects(entidad.uej)">
                        <i class="fa fa-files-o"></i>
                        <span class="text-xs">Proyectos</span>
                    </span>

                </div>
            </li>
        </ul>
    </div>
</div>